<div class="ibexa-anchor-navigation-menu">
    <div class="ibexa-anchor-navigation-menu__header">
        {% if close_href is defined %}
            <a
                    class="btn ibexa-btn ibexa-btn--ghost ibexa-anchor-navigation-menu__close"
                    href="{{ close_href }}"
            >
                <svg class="ibexa-icon ibexa-icon--small">
                    <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
                </svg>
                <span class="ibexa-btn__label">
                    {{ 'anchor_navigation.close'|trans|desc('Close') }}
                </span>
            </a>
        {% endif %}
    </div>

    <div class="ibexa-anchor-navigation-menu__body">
        {% block navigation_menu_body %}

            {% if item.children|default([])|length > 1 %}
                <ul class="ibexa-anchor-navigation-menu__items">
                    {% for item in item.children %}
                        {% set sanitized_item = item.label|slug %}
                        <li class="ibexa-anchor-navigation-menu__item">
                            <button
                                    type="button"
                                    class="ibexa-anchor-navigation-menu__item-btn {% if loop.first %}ibexa-anchor-navigation-menu__item-btn--active{% endif %}"
                                    data-anchor-target-section-id="#{{ item.attributes['data-target-id'] }}"
                            >
                                <span class="ibexa-anchor-navigation-menu__item-btn-label">{{ item.label }}</span>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
    </div>
</div>
