{% set location_path = location.pathString %}

{% extends "@ibexadesign/ui/layout.html.twig" %}

{% trans_default_domain 'ibexa_locationview' %}
{% form_theme form_location_copy '@ibexadesign/ui/form/flat_widgets.html.twig' %}
{% form_theme form_location_move '@ibexadesign/ui/form/flat_widgets.html.twig' %}
{% if form_content_edit is defined %}
    {% form_theme form_content_edit '@ibexadesign/ui/form_fields.html.twig' %}
{% endif %}
{% if form_user_edit is defined %}
    {% form_theme form_user_edit '@ibexadesign/ui/form_fields.html.twig' %}
{% endif %}
{% form_theme form_content_create '@ibexadesign/ui/form_fields.html.twig' %}

{% block body_class %}ibexa-content-view ibexa-theme {% if ibexa_is_focus_mode_on() %}ibexa-theme--dark{% endif %}{% endblock %}

{% block content_tree %}
    {% set container_width_cookie = 'ibexa-tb_ibexa-content-tree_%d_container-width'|format(ibexa_admin_ui_config.user.user.id) %}
    {% set content_tree_width = app.request.cookies.get(container_width_cookie) %}
    {% set content_tree_width_style = 'width: %dpx;'|format(content_tree_width) %}

    {{ ibexa_render_component_group('content-tree-before') }}
    <div class="ibexa-content-tree-container"
        data-tree-root-location-id="{{ content_tree_module_root|default(ibexa_admin_ui_config['contentTree']['treeRootLocationId']) }}"
        data-current-location-path="{{ location_path|default('') }}"
        style="{{ content_tree_width_style }}"
    >
        <div class="ibexa-content-tree-container__root"></div>
    </div>
    {{ ibexa_render_component_group('content-tree-after') }}
{% endblock %}

{% block breadcrumbs %}
    {% set items = [] %}
    {% for path_location in path_locations %}
        {% if not loop.last %}
            {% set items = items|merge([{
                'value': ibexa_content_name(path_location.contentInfo),
                'url': path('ibexa.content.view', {
                    'contentId': path_location.contentId,
                    'locationId': path_location.id
                })
            }]) %}
        {% endif %}
    {% endfor %}

    {% set items = items|merge([{ 'value': ibexa_content_name(content) }]) %}

    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: items } %}
{% endblock %}

{% block context_menu %}
    {% set content_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content.sidebar_right', [], {'location': location, 'content': content, 'content_type': content_type}) %}
    {{ knp_menu_render(content_sidebar_right, {'template': '@ibexadesign/ui/menu/context_menu.html.twig'}) }}

    <div class="ibexa-extra-actions-container">
        {% include '@ibexadesign/content/widget/content_create.html.twig' with {'form': form_content_create, content } only %}
        {% if form_content_edit is defined and form_user_edit is not defined %}
            {% include '@ibexadesign/content/widget/content_edit.html.twig' with {'form': form_content_edit} only %}
        {% endif %}
        {% if form_user_edit is defined %}
            {% include '@ibexadesign/content/widget/user_edit.html.twig' with {'form': form_user_edit} only %}
        {% endif %}
    </div>
    {% if form_location_trash is defined and form_user_delete is not defined %}
        {% include '@ibexadesign/content/modal/location_trash.html.twig' with {
            'form': form_location_trash,
            'content_name': ibexa_content_name(content)
        } only %}
    {% endif %}
    {% if form_user_delete is defined %}
        {% include '@ibexadesign/content/modal/user_delete.html.twig' with {'form': form_user_delete} only %}
    {% endif %}
    {{ form(form_location_copy, {'action': path('ibexa.location.copy')}) }}
    {{ form(form_location_move, {'action': path('ibexa.location.move')}) }}
    {{ form(form_location_copy_subtree, {'action': path('ibexa.location.copy_subtree')}) }}
    {{ form(form_content_visibility_update, {'action': path('ibexa.content.update_visibility')}) }}
{% endblock %}

{% block header %}
    {% set hide_bookmarks = hide_bookmarks|default(false) %}
    {% embed '@ibexadesign/ui/page_title.html.twig' with {
        title: ibexa_content_name(content),
    } %}
        {% block top_side %}
            {% if hide_bookmarks is same as false %}
                {% if location is defined and location_is_bookmarked is defined %}
                    {% include '@ibexadesign/account/bookmarks/toggle_switch.html.twig' with {
                        location: location,
                        location_is_bookmarked: location_is_bookmarked
                    } %}
                {% endif %}
            {% endif %}
        {% endblock %}
        {% block bottom %}
            <span class="ibexa-icon-tag">
                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--{{ content_type.identifier }}">
                    <use xlink:href="{{ ibexa_content_type_icon(content_type.identifier) }}"></use>
                </svg>
                {{ content_type.name }}
            </span>
        {% endblock %}
    {% endembed %}

    {% if location.hidden or location.invisible %}
        <div class="pb-4">
            {% include '@ibexadesign/ui/component/alert/alert.html.twig' with {
                type: 'info',
                title: 'content.hidden.message'|trans()|desc('This Content item or its Location is hidden.'),
                icon_path: ibexa_icon_path('hide'),
                class: 'mb-4',
            } only %}
        </div>
    {% endif %}
    {{ ibexa_render_component_group(
        'location-view-content-alerts',
        {
            'versionInfo': content.versionInfo,
            'location': location,
        }
    ) }}
{% endblock %}

{% block content %}
    <div class="align-items-stretch ibexa-main-row">
        <div class="ibexa-content-container">
            <div class="panel panel-primary">
                <div class="panel-body">
                    {# 'is_location_visible': location.invisible - param deprecated since EZP-32395 #}
                    {{ ibexa_render_component_group('location-view-tab-groups', {
                        'content': content,
                        'location': location,
                        'contentType': content_type,
                        'draft_pagination_params': draft_pagination_params,
                        'reverse_relation_pagination_params': reverse_relation_pagination_params,
                        'custom_urls_pagination_params': custom_urls_pagination_params,
                        'system_urls_pagination_params': system_urls_pagination_params,
                        'roles_pagination_params': roles_pagination_params,
                        'policies_pagination_params': policies_pagination_params,
                        'is_location_visible': not location.invisible,
                        'subitems_module': subitems_module,
                    }) }}

                    {% if content_type.isContainer %}
                        {{ form_start(form_subitems_content_edit, { 'action': path('ibexa.content.edit'), 'attr': { 'hidden': 'hidden' }}) }}
                        {{ form_end(form_subitems_content_edit) }}

                        {% include '@ibexadesign/content/modal/location_bulk_action_failed.html.twig' only %}
                    {% endif %}

                    {% if form_user_invitation is defined %}
                        {% include '@ibexadesign/content/modal/user_group_invitation_modal.html.twig' with {
                            form: form_user_invitation,
                            extra_class: 'ibexa-user-group-invitation',
                        } %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% if content_has_reverse_relations and not location.contentInfo.isHidden %}
        {% include '@ibexadesign/content/modal/hide_confirmation.html.twig' %}
    {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('ibexa-admin-ui-location-view-css', null, 'ibexa') }}
{% endblock %}

{% block react_modules %}
    {{ encore_entry_script_tags('ibexa-admin-ui-mfu-js', null, 'ibexa') }}
    {{ encore_entry_script_tags('ibexa-admin-ui-subitems-js', null, 'ibexa') }}
    {{ encore_entry_script_tags('ibexa-admin-ui-content-tree-js', null, 'ibexa') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ibexa-admin-ui-location-view-js', null, 'ibexa') }}
    {{ encore_entry_script_tags('ibexa-admin-ui-user-invitation-modal', null, 'ibexa') }}
    {{ encore_entry_script_tags('ibexa-admin-ui-tabs-js', null, 'ibexa') }}
{% endblock %}
