<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Ibexa DXP</title>
        {{ encore_entry_link_tags('ibexa-admin-ui-security-base-css', null, 'ibexa') }}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/ibexaadminui/img/favicon.ico') }}" />

        <script src="{{ asset('bundles/ibexaadminuiassets/vendors/@popperjs/core/dist/umd/popper.min.js') }}"></script>
        <script src="{{ asset('bundles/ibexaadminuiassets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body class="ibexa-login-view">
        <div class="ibexa-main-container">
            <div class="ibexa-login">
                <div class="ibexa-login__sidebar" aria-hidden="true"></div>
                <div class="ibexa-login__panel">
                    <div class="ibexa-login__actions">
                        <img class="ibexa-login__logo" src="{{ asset('bundles/ibexaadminui/img/cohesivo-logo-alt.svg') }}" alt="ibexa" />
                        <div class="ibexa-login__form">
                            {%- block content -%} {%- endblock content -%}
                        </div>
                        <div class="ibexa-login__panel-footer">
                            <a href="https://doc.ibexa.co/en/latest/" target="_blank" rel="noopener noreferrer">{{ 'base.documentation'|trans|desc('Documentation') }}</a>
                            <a href="https://support.ibexa.co/login" target="_blank" rel="noopener noreferrer">{{ 'base.support'|trans|desc('Support') }}</a>
                        </div>
                    </div>
                </div>
                <div class="ibexa-login__background" aria-hidden="true"></div>
            </div>
        </div>

        {% if app.request.locale == 'ach-UG' %}
            <script type="text/javascript">
                var _jipt = [];
                _jipt.push(['project', 'ibexa-dxp']);
            </script>
            <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script>
        {% endif %}
    </body>
</html>
