{% trans_default_domain 'ibexa_admin_ui' %}

<div class="ibexa-details">
    {% block details_header %}
        {% if headline is defined %}
            <div class="
                ibexa-details__header 
                {{ is_inline_headline|default(false) ? 'ibexa-details__header--inline-headline' }}
                {{ is_small_headline|default(false) ? 'ibexa-details__header--small' }}
            ">
                {% include '@ibexadesign/ui/component/table/table_header.html.twig' with {
                    headline,
                    actions: headline_items|default([])
                } %}
            </div>
        {% endif %}
    {% endblock %}
    {% block details_items %}
        <div class="ibexa-details__items {{ view_mode|default('') == 'vertical' ? 'ibexa-details__items--vertical' }}">
            {% set items_have_empty_field = items|filter((item)=> item.is_field_empty|default(false))|length > 0 %}
            {% if items_have_empty_field %}
                {% set alert_title = 'details.alert.complete_profile'|trans|desc('Complete your profile.') %}
                <div class="ibexa-details__alert-container">
                    {% include '@ibexadesign/ui/component/alert/alert.html.twig' with {
                        type: 'info',
                        title: alert_title,
                        show_close_btn: true,
                        size: 'small',
                    } only %}
                </div>
            {% endif %}
            {% for item in items %}
                {% if item.is_break|default(false) %}
                    <div class="ibexa-details__item ibexa-details__item--break"></div>
                {% else %}
                    {% set is_field_empty = item.is_field_empty|default(false) %}

                    <div 
                        class="ibexa-details__item {{ item_inline|default(false) ? 'ibexa-details__item--inline' ~
                        (is_field_empty ? ' ibexa-details__item--hidden') }}"
                    >
                        <div class="ibexa-details__item-label {{ item_inline|default(false) ? '' : 'ibexa-label' }}">{{ item.label }}</div>
                        <div class="ibexa-details__item-content-wrapper">
                            <div
                                class="
                                    ibexa-details__item-content
                                    {{ item.is_ellipsized|default(false) ? 'ibexa-details__item-content--ellipsized' }}
                                    {{ item.ellipsized_lines_no|default(false) ? 'ibexa-details__item-content--multi-line-ellipsized' }}"
                                style="
                                    {{ item.ellipsized_lines_no|default(false) ? "--ibexa-details__ellipsized-lines-no: #{item.ellipsized_lines_no};"  }}"
                            >
                                {% if item.content_raw is defined %}
                                    {{ item.content_raw|raw }}
                                {% elseif item.content == 'undefined' %}
                                    -
                                {% else %}
                                    {{ item.content }}
                                {% endif %}
                            </div>
                            {% if item.is_ellipsized|default(false) %}
                                <div class="ibexa-details__item-content-actions">
                                    <button
                                        type="button"
                                        class="
                                            btn ibexa-btn ibexa-btn--small ibexa-btn--ghost
                                            ibexa-details__show-more-btn ibexa-details__show-more-btn--hidden"
                                    >
                                        <span class="ibexa-btn__label ibexa-details__show-more-label">
                                            {{ 'details.show_more.label'|trans()|desc('Show more') }}
                                        </span>
                                        <span
                                            class="
                                                ibexa-btn__label
                                                ibexa-details__show-less-label ibexa-details__show-less-label--hidden"
                                        >
                                            {{ 'details.show_less.label'|trans()|desc('Show less') }}
                                        </span>
                                        <svg
                                            class="
                                                ibexa-icon ibexa-icon--small
                                                ibexa-details__show-more-btn-icon"
                                        >
                                            <use xlink:href="{{ ibexa_icon_path('arrow-caret-down') }}"></use>
                                        </svg>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
</div>
