<div id="ibexa-mfu"
    data-parent-content-language="{{ content.versionInfo.initialLanguageCode }}"
    data-parent-location-path="{{ location.pathString }}"
    data-parent-content-type-identifier="{{ contentType.identifier }}"
    data-parent-content-type-id="{{ contentType.id }}"
    data-current-language="{{ app.request.get('languageCode') ?: content.prioritizedFieldLanguageCode }}"
></div>
