{% set udwConfigSingle = ibexa_udw_config('single_container', {}) %}

<div class="ibexa-sil"
    data-location="{{ location.id }}"
    data-mfu-create-permissions-config="{{ subitems_module.content_create_permissions_for_mfu|json_encode() }}"
    data-items="{{ subitems_module.items }}"
    data-content-types="{{ subitems_module.content_type_info_list }}"
    data-udw-config-bulk-move-items="{{ udwConfigSingle }}"
    data-udw-config-bulk-add-location="{{ udwConfigSingle }}"
></div>
