{% set item_label = translation_domain is same as(false) ? choice.label : choice.label|trans({}, translation_domain) %}
{% set preferred_choice = preferred_choice|default(false) %}

{% if choice.choices is defined %}
    <li class="ibexa-dropdown__item-group">
        <label class="ibexa-dropdown__item-group-label">{{ item_label }}</label>
        <ul class="ibexa-dropdown__item-group-list">
            {% for child in choice.choices %}
                {% include '@ibexadesign/ui/component/dropdown/dropdown_item.html.twig' with { choice: child, preferred_choice, custom_form } %}
            {% endfor %}
        </ul>
    </li>
{% else %}
    {% set is_selected = custom_form ? choice.value == value : choice is selectedchoice(value) %}
    <li
        data-value="{{ choice.value }}"
        data-filter-value="{{ item_label }}"
        {% if choice.icon is defined %}
            data-choice-icon="{{ choice.icon }}"
        {% endif %}
        class="ibexa-dropdown__item
            {% if preferred_choice %}ibexa-dropdown__item--preferred-choice{% endif %}
            {% if is_selected %}ibexa-dropdown__item--selected{% endif %}"
    >
        {% if multiple is defined and multiple %}
            <input type="checkbox" name="dropdown-checkbox" class="ibexa-input ibexa-input--checkbox" {% if is_selected %}checked{% endif %} />
        {% endif %}
        {% if icon is defined %}
            <svg class="ibexa-icon ibexa-icon--small">
                <use xlink:href="{{ ibexa_icon_path(icon) }}"></use>
            </svg>
        {% endif %}
        {% if choice.icon is defined %}
            <svg class="ibexa-icon ibexa-icon--small">
                <use xlink:href="{{ ibexa_icon_path(choice.icon) }}"></use>
            </svg>
        {% endif %}
        <span class="ibexa-dropdown__item-label">{{ item_label }}</span>
        {% if not multiple|default(false) %}
            <svg class="ibexa-icon ibexa-icon--small ibexa-dropdown__item-check">
                <use xlink:href="{{ ibexa_icon_path('checkmark') }}"></use>
            </svg>
        {% endif %}
    </li>
{% endif %}
