{% extends '@IbexaDesignSystemTwig/themes/standard/design_system/partials/base_dropdown.html.twig' %}

{% trans_default_domain 'ibexa_design_system_twig' %}

{% set class = html_classes('ids-dropdown--multi', class|default('')) %}
{% set selected_item_template_props = {
    id: '{{ id }}',
    label: '{{ label }}',
} %}
{% set hidden_count_template = '{{ hidden_count }}' %}

{% block source %}
    {{ source|raw }}
{% endblock source %}

{% block item_content %}
    <twig:ibexa:checkbox:input
        name="{{ name }}-checkbox"
        :checked="item.id in value"
        :value="item.id"
        data-ids-custom-init="true"
    />
    {{ item.label }}
{% endblock item_content %}

{% block selected_items %}
    <div class="ids-overflow-list">
        <div class="ids-overflow-list__items">
            {% for item in selected_items %}
                <twig:ibexa:chip data-id="{{ item.id }}" class="ids-dropdown__selected-item">
                    {{ item.label }}
                </twig:ibexa:chip>
            {% endfor %}

            <twig:ibexa:chip
                :isDeletable="false"
                class="ids-dropdown__selected-item ids-dropdown__selected-item--more"
                hidden
            >
                +0
            </twig:ibexa:chip>
        </div>
        <template class="ids-overflow-list__template" data-id="item">
            {% with { item: selected_item_template_props } %}
                <twig:ibexa:chip data-id="{{ item.id }}" class="ids-dropdown__selected-item">
                    {{ item.label }}
                </twig:ibexa:chip>
            {% endwith %}
        </template>
        <template class="ids-overflow-list__template" data-id="item_more">
            <twig:ibexa:chip :isDeletable="false" class="ids-dropdown__selected-item ids-dropdown__selected-item--more">
                +{{ hidden_count_template }}
            </twig:ibexa:chip>
        </template>
    </div>
{% endblock selected_items %}
