{% extends '@IbexaDesignSystemTwig/themes/standard/design_system/partials/base_dropdown.html.twig' %}

{% set class = html_classes('ids-dropdown--multi', class|default('')) %}

{% block source %}
    {{ source|raw }}
{% endblock source %}

{% block placeholder %}
    <div class="ids-dropdown__placeholder"{% if not is_empty %} hidden{% endif %}>
        {{ placeholder|default('ibexa.dropdown.placeholder'|trans({}, 'ibexa_design_system_twig')) }}
    </div>
{% endblock placeholder %}

{% block item_content %}
    <twig:ibexa:checkbox:input
        name="{{ name }}-checkbox"
        :checked="item.id in value"
        :value="item.id"
        data-ids-custom-init="true"
    />
    {{ item.label }}
{% endblock item_content %}

{% block selected_items %}
    {{ selected_items|map(item => item.label)|join(', ') }}
{% endblock selected_items %}
