{% trans_default_domain 'draft_conflict' %}

{% embed '@ibexadesign/ui/component/modal/modal.html.twig' with {
    title: 'draft.conflict.header'|trans|desc('Draft conflict'),
    class: 'ibexa-modal--version-draft-conflict',
    size: 'large',
    id: 'version-draft-conflict-modal',
    version_modal_draft_conflict: _self,
} %}
    {% trans_default_domain 'draft_conflict' %}
    {% import version_modal_draft_conflict as version_modal_draft_conflict_embed %}

    {% block body_content %}
        <div class="ibexa-modal-body__main">
            {% set number = conflicted_drafts|length %}
            {% if number == 1 %}
                {{ 'draft.conflict.number.one'|trans|desc('There is already one draft for this Content item.') }}
            {% else %}
                {{ 'draft.conflict.number.multiple'|trans({ '%number%': number })|desc('There are already %number% drafts for this Content item.') }}
            {% endif %}
            <br/>
            {% if content_is_user %}
                {{ 'draft.conflict.choice_content_is_user'|trans({})|desc('You can edit any of your existing draft(s)') }}
            {% else %}
                {{ 'draft.conflict.choice'|trans({})|desc('You can either edit any of your existing draft(s) or add a new one.') }}
            {% endif %}
        </div>
        {% set show_add_draft_button = (not content_is_user) %}
        {% include '@ibexadesign/ui/component/table/table_header.html.twig' with {
            headline: '',
            actions: version_modal_draft_conflict_embed.table_header_tools(show_add_draft_button),
        } only %}
        {{ include('@ibexadesign/content/tab/versions/table.html.twig', {
            'versions': conflicted_drafts,
            'location': location,
            'is_draft': true,
            'have_to_paginate': false,
            'is_draft_conflict': true,
            'content_is_user': content_is_user
        }) }}
    {% endblock %}
{% endembed %}

{% macro table_header_tools(show_add_button) %}
    {% if show_add_button %}
        <button
            type="button"
            class="btn ibexa-btn ibexa-btn--tertiary ibexa-btn--small ibexa-btn--add-draft"
        >
            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
            </svg>
            <span class="ibexa-btn__label">
                {{ 'draft.conflict.add_new'|trans|desc('Add new') }}
            </span>
        </button>
    {% endif %}
{% endmacro %}
