{% trans_default_domain 'ibexa_version_conflict' %}

{% embed '@ibexadesign/ui/component/modal/modal.html.twig' with {
    title: 'version.conflict.header'|trans|desc('Version conflict'),
    class: 'ibexa-modal--version-conflict',
    id: 'version-conflict-modal',
} %}
    {% trans_default_domain 'ibexa_version_conflict' %}

    {% block body_content %}
        <p class="ibexa-modal-body__explanation">
            <strong>
                {{ 'version.conflict.are_you_sure'|trans|desc(
                'Are you sure you want to continue and overwrite the published version?'
                ) }}
            </strong>
        </p>
        <p class="ibexa-modal-body__explanation">
            {{ 'version.conflict.consequences'|trans|desc(
            'If you continue, the published version will be overwritten.'
            ) }}
        </p>
        <p class="ibexa-modal-body__explanation">
            {{ 'version.conflict.choices'|trans|desc(
            'To resolve the conflict, click Cancel and delete the draft. Then edit the published version.'
            ) }}
        </p>
    {% endblock %}
    {% block footer_content %}
        <a id="edit-conflicted-draft" class="btn ibexa-btn ibexa-btn--primary" href="#">
            {{ 'version.conflict.form.continue'|trans|desc('Continue') }}
        </a>
        <button type="button" class="btn ibexa-btn ibexa-btn--secondary" data-bs-dismiss="modal">
            {{ 'version.conflict.form.cancel'|trans|desc('Cancel') }}
        </button>
    {% endblock %}
{% endembed %}
