{% extends '@ibexadesign/user/role_assignment/base.html.twig' %}

{% form_theme form '@ibexadesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'ibexa_role' %}

{% block header_admin %}
    {% set role_assignment_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.role_assignment_create.sidebar_right', [], {
        role,
    }) %}

    {% include '@ibexadesign/ui/edit_header.html.twig' with {
        action_name: 'role_assignment.assigning'|trans|desc('Assigning'),
        icon_name: 'assign-user',
        title: 'role_assignment.view.add.title'|trans|desc('Assigning users and groups'),
        context_actions: knp_menu_render(role_assignment_create_sidebar_right, {'template': '@ibexadesign/ui/menu/context_menu.html.twig'})
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form) }}
        <div class="ibexa-anchor-navigation-sections ibexa-assign">
            <section class="ibexa-anchor-navigation-sections__section ibexa-anchor-navigation__section ibexa-assign__section" data-id="#users-and-groups">
                <div class="card ibexa-card ibexa-card--light">
                    <h2 class="ibexa-card__header">
                        {{ 'role_assignment.view.add.panel.users_and_groups.title'|trans|desc('Users and Groups') }}
                    </h2>
                    <div class="card-body ibexa-card__body ibexa-form-block">
                        <div class="ibexa-assign__users form-group">
                            {{ form_label(form.users) }}
                            {{ form_errors(form.users) }}

                            {% set items = form.users.vars.data|map((user) => {
                                id: user.content.versionInfo.contentInfo.id,
                                name: ibexa_content_name(user)
                            }) %}
                            {% set items_map = form.users.vars.data|reduce((output, user) => output + {
                                (user.id): user.content.versionInfo.contentInfo.mainLocationId,
                            }, {}) %}
                            {% set users_udw_title = "role_assignment.view.add.panel.users_and_groups.users.udw_title"
                                |trans({}, 'ibexa_role')
                                |desc("Select Users to assign to the Role") %}

                            {{ include('@ibexadesign/ui/component/tag_view_select/tag_view_select.html.twig', {
                                form: form.users,
                                items,
                                attr: {
                                    'id': form.users.vars.id ~ '__btn',
                                    'data-universaldiscovery-title': users_udw_title,
                                    'data-input-selector': '#' ~ form.users.vars.id,
                                    'data-selected-content-list-selector': '#' ~ form.users.vars.id ~ '-selected-content',
                                    'data-udw-config': ibexa_udw_config('multiple_user', {}),
                                    'data-items-map': items_map|json_encode(),
                                },
                                is_single_select: false,
                                can_be_empty: true,
                                title: 'role_assignment.view.select.users'|trans|desc('Select Users'),
                                type: 'role_assignment.view.type.users'|trans|desc('Users'),
                            }) }}
                        </div>
                        <div class="ibexa-assign__groups form-group">
                            {{ form_label(form.groups) }}
                            {{ form_errors(form.groups) }}

                            {% set items = form.groups.vars.data|map((group) => {
                                id: group.content.versionInfo.contentInfo.id,
                                name: ibexa_content_name(group.content)
                            }) %}
                            {% set items_map = form.groups.vars.data|reduce((output, group) => output + {
                                (group.id): group.content.versionInfo.contentInfo.mainLocationId,
                            }, {}) %}
                            {% set groups_udw_title = "role_assignment.view.add.panel.users_and_groups.groups.udw_title"
                                |trans({}, 'ibexa_role')
                                |desc("Select User Groups to assign to the Role") %}

                            {{ include('@ibexadesign/ui/component/tag_view_select/tag_view_select.html.twig', {
                                form: form.groups,
                                items,
                                attr: {
                                    'id': form.groups.vars.id ~ '__btn',
                                    'data-universaldiscovery-title': groups_udw_title,
                                    'data-input-selector': '#' ~ form.groups.vars.id,
                                    'data-selected-content-list-selector': '#' ~ form.groups.vars.id ~ '-selected-content',
                                    'data-udw-config': ibexa_udw_config('multiple_user_group', {}),
                                    'data-items-map': items_map|json_encode(),
                                },
                                is_single_select: false,
                                can_be_empty: true,
                                title: 'role_assignment.view.select.groups'|trans|desc('Select User Groups'),
                                type: 'role_assignment.view.type.groups'|trans|desc('User Groups'),
                            }) }}
                        </div>
                    </div>
                </div>
            </section>
            <section class="ibexa-anchor-navigation-sections__section ibexa-anchor-navigation__section ibexa-assign__section" data-id="#limitations">
                <div class="card ibexa-card ibexa-card--light">
                    <h2 class="ibexa-card__header">
                        {{ 'role_assignment.view.add.panel.limitations.title'|trans|desc('Limitations') }}
                    </h2>
                    <div class="card-body ibexa-card__body ibexa-assign__limitations">
                        <div class="ibexa-assign__limitations-item">
                            {{ form_widget(form.limitation_type.none, {
                                'label': 'limitation_type.none'|trans|desc('No limitations'),
                                'attr': {'class': 'ibexa-assign__limitations-item-radio'},
                                'label_attr': {'class': 'ibexa-limitations__label radio-inline'}
                            }) }}
                        </div>
                        <div class="ibexa-assign__limitations-item">
                            {{ form_widget(form.limitation_type.section, {
                                'label': 'limitation_type.section'|trans|desc('Sections'),
                                'attr': {
                                    'class': 'ibexa-assign__limitations-item-radio',
                                    'data-disable-class': 'ibexa-dropdown--disabled',
                                    'data-disable-selector': '.ibexa-dropdown'
                                },
                                'label_attr': {'class': 'ibexa-limitations__label radio-inline'}
                            }) }}
                            {{ form_widget(form.sections) }}
                        </div>
                        <div class="ibexa-assign__limitations-item">
                            {{ form_widget(form.limitation_type.location, {
                                'label': 'limitation_type.subtree'|trans|desc('Subtree'),
                                'attr': {
                                    'class': 'ibexa-assign__limitations-item-radio',
                                    'data-disable-selector': '.ibexa-assign__limitations-item-subtree .ibexa-tag-view-select'
                                },
                                'label_attr': {'class': 'ibexa-limitations__label radio-inline'}
                            }) }}
                            <div class="ibexa-assign__limitations-item-subtree">
                                {% set items = form.locations.vars.data|map((location) => {
                                    id: location.id,
                                    name: ibexa_content_name(location.content)
                                }) %}

                                {{ include('@ibexadesign/ui/component/tag_view_select/tag_view_select.html.twig', {
                                    form: form.locations,
                                    items,
                                    attr: {
                                        'id': 'role_assignment_create_locations_select_content',
                                        'class': 'ibexa-assign__limitations-item-select-subtree',
                                        'disabled': not form.limitation_type.location.vars.checked,
                                        'data-input-selector': '#' ~ form.locations.vars.id,
                                        'data-udw-config': ibexa_udw_config('single', {})
                                    },
                                    is_single_select: false,
                                    can_be_empty: true,
                                    title: 'locations.select_subtree'|trans|desc('Select subtree')
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {{ form_widget(form.save, { 'attr': { 'hidden': 'hidden' } }) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ibexa-admin-ui-role-assignment-create-js', null, 'ibexa') }}
{% endblock %}
