{% block ezplatform_fieldtype_ibexa_author_row %}
    {% if form.authors.vars.prototype is defined %}
        {%- set wrapper_attr = attr|merge({
            'data-template': form_row(form.authors.vars.prototype),
            'data-next-author-id': form.authors.vars.value is empty ? 0 : max(form.authors.vars.value|keys) + 1
        }) -%}
    {% endif %}
    {{ block('form_row_fieldtype') }}
{% endblock %}

{% block ezplatform_fieldtype_ibexa_author_widget %}
    {% set readonly = attr.readonly|default(false) %}

    <div class="ibexa-data-source__main-actions">
        <twig:ibexa:button
            html_type="button"
            type="secondary"
            size="small"
            icon="add"
            icon_size="small-medium"
            class="ibexa-btn--add-author"
            title="{{ 'ibexa_author.action.add'|trans|desc('Add') }}"
            :disabled="readonly|default(false)"
        >
            {{ 'ibexa_author.action.add'|trans|desc('Add') }}
        </twig:ibexa:button>
        <twig:ibexa:button
            html_type="button"
            type="tertiary-alt"
            size="small"
            icon="trash"
            icon_size="small-medium"
            class="ibexa-btn--bulk-remove-author"
            title="{{ 'ibexa_author.action.delete'|trans|desc('Delete') }}"
            disabled
        >
            {{ 'ibexa_author.action.delete'|trans|desc('Delete') }}
        </twig:ibexa:button>
    </div>
    <div class="ibexa-data-source__labels">
        <label class="ibexa-label form-label">{{ 'ibexa_author.name'|trans|desc('Name') }}</label>
        <label class="ibexa-label form-label">{{ 'ibexa_author.Email'|trans|desc('Email') }}</label>
    </div>
    {% for child in form.authors %}
        {{ form_row(child, { attr: { readonly: readonly}}) }}
    {% endfor %}
{% endblock %}

{% block ezplatform_fieldtype_ibexa_author_authors_entry_row -%}
    {% set readonly = attr.readonly|default(false) %}

    <div class="ibexa-data-source__author form-row">
        {{- form_widget(form.id) -}}
        <div class="ibexa-data-source__checkbox">
            <input
                type="checkbox"
                class="ibexa-input ibexa-input--checkbox"
                {{ readonly|default(false) ? 'disabled' }}
             />
        </div>
        {{- form_row(form.name, { label_wrapper_attr: { 'hidden': 'hidden' }, attr: { readonly: readonly }}) -}}
        {{- form_row(form.email, { label_wrapper_attr: { 'hidden': 'hidden' }, attr: {'class': 'ibexa-input--text', readonly: readonly }}) -}}
        <div class="ibexa-data-source__actions {{ readonly ? 'ibexa-data-source__actions--disabled' }}">
            <twig:ibexa:button
                html_type="button"
                type="tertiary-alt"
                icon="trash"
                icon_size="small-medium"
                class="ibexa-btn--remove-author"
                title="{{ 'ibexa_author.action.delete'|trans|desc('Delete') }}"
                disabled
            />
        </div>
    </div>
{%- endblock %}
