{% trans_default_domain 'ibexa_content_forms_content' %}

{% use '@ibexadesign/ui/field_type/edit/binary_base.html.twig' %}

{%- block ezplatform_fieldtype_ibexa_binaryfile_row -%}
    {% set preview_block_name = 'ibexa_binaryfile_preview' %}
    {% set max_file_size = min(form.parent.vars.value.fieldDefinition.validatorConfiguration.FileSizeValidator.maxFileSize * 1024 * 1024, max_upload_size)|round %}
    {{ block('binary_base_row') }}
{%- endblock -%}

{% block ibexa_binaryfile_preview %}
    {% set readonly = attr.readonly|default(false) %}
    {% set inLanguageQueryParameter = 'inLanguage=' ~ form.parent.vars.languageCode %}
    {% set uri = form.parent.vars.value.value.uri %}
    {% set url = uri ~ ('?' in uri ? '&' : '?') ~ inLanguageQueryParameter %}

    <div class="ibexa-field-edit-preview">
        <div class="ibexa-field-edit-preview__visual">
            <div class="ibexa-field-edit-preview__media-wrapper">
                <div class="ibexa-field-edit-preview__actions">
                    <twig:ibexa:link
                        href="{{ url }}"
                        variant="button"
                        type="tertiary"
                        size="small"
                        icon="download"
                        icon_size="small-medium"
                        class="ibexa-field-edit-preview__action--preview"
                        download
                        :disabled="readonly"
                    >
                        {{ 'ibexa_binaryfile.action.download'|trans|desc('Download') }}
                    </twig:ibexa:link>
                    <twig:ibexa:button
                        html_type="button"
                        type="tertiary"
                        size="small"
                        icon="trash"
                        icon_size="small-medium"
                        class="ibexa-field-edit-preview__action--remove"
                        :disabled="readonly"
                    >
                        {{ 'ibexa_binaryfile.action.remove'|trans|desc('Delete') }}
                    </twig:ibexa:button>
                </div>
                <div class="ibexa-field-edit-preview__file-name-wrapper">
                    <label class="ibexa-label form-label">{{ 'ibexa_binaryfile.file_name.label'|trans|desc('File name') }}</label>
                    <p class="ibexa-field-edit-preview__file-name">{{ form.parent.vars.value.value.fileName }}</p>
                </div>
                <div class="ibexa-field-edit-preview__file-size-wrapper">
                    <label class="ibexa-label form-label">{{ 'ibexa_binaryfile.file_size.label'|trans|desc('Size') }}</label>
                    <p class="ibexa-field-edit-preview__file-size">{{ form.parent.vars.value.value.fileSize|ibexa_file_size(2) }}</p>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
