{% form_theme form '@ibexadesign/ui/form_fields.html.twig' %}

{% include '@ibexadesign/ui/component/table/table_header.html.twig' with {
    headline: 'tab.locations.location_content_swap'|trans()|desc('Swap Locations'),
} only %}

{{ form_start(form, {
    'action': path('ibexa.location.swap'),
    'attr': { 'class': 'ibexa-location-swap-form' }
}) }}
    <div class="ibexa-location-swap-form__label">
        {{ 'tab.locations.swap_with_another'|trans()|desc('Swap the Content item at this Location with another') }}
    </div>
    <div class="ibexa-location-swap-form__action-content">
        {{ form_widget(form.swap, {'attr': {
            'disabled': not can_swap,
            'class': 'btn ibexa-btn ibexa-btn--secondary ibexa-btn--udw-swap ml-5',
            'data-udw-config': ibexa_udw_config('single_container', {})
        }}) }}
        {{ form_widget(form.current_location) }}
        {{ form_widget(form.new_location) }}
    </div>
{{ form_end(form) }}
