{% import '@ibexadesign/ui/component/macros.html.twig' as html %}

{% trans_default_domain 'ibexa_admin_ui' %}

{% set config_panel_main_class = 'ibexa-side-panel ibexa-side-panel--hidden' %}
{% set config_panel_footer_class = 'ibexa-side-panel__footer' ~ (footer_class is defined ? footer_class ~ '')%}

{% set attr = attr|default({})|merge({
    class: (' '
        ~ class|default('') ~ ' '
        ~ attr.class|default(''))|trim ~ ' ' ~ config_panel_main_class,
}) %}

{% if id is defined %}
    {% set attr = attr|default({})|merge({
        id,
    }) %}
{% endif %}

<div {{ html.attributes(attr) }} data-actions="create">
    {% block panel %}
    <div >
        {% block header %}
            <button
                type="button"
                class="btn ibexa-btn ibexa-btn--no-text ibexa-btn--close-config-panel"
            >
                <svg class="ibexa-icon ibexa-icon--small">
                    <use xlink:href="{{ ibexa_icon_path('caret-back') }}"></use>
                </svg>
            </button>
            <h2 class="ibexa-side-panel__title">{{ title }}</h2>
        {% endblock %}
        {% block content %}{% endblock %}
        
        <div class="{{ config_panel_footer_class }}">
            {% block footer %}
                <button
                    type="button"
                    class="btn ibexa-btn ibexa-btn--info ibexa-side-panel__cancel-btn ibexa-btn--close-config-panel"
                >
                    {{ 'side_panel.btn.cancel_label'|trans|desc('Cancel') }}
                </button>
            {% endblock %}
        </div>
    </div>
    {% endblock %}
</div>

