{% extends "@ibexadesign/user/policy/base.html.twig" %}

{% form_theme form '@ibexadesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'ibexa_role' %}

{% block header_admin %}
    {% set policy_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.policy_edit.sidebar_right', [], {'role': role, 'save_id': form.save.vars.id}) %}

    {% include '@ibexadesign/ui/edit_header.html.twig' with {
        action_name: 'policy.editing'|trans|desc('Editing'),
        title: 'policy.view.edit.title'|trans()|desc('Edit Limitations'),
        context_actions: knp_menu_render(policy_edit_sidebar_right, {'template': '@ibexadesign/ui/menu/context_menu.html.twig'})
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form) }}
        <section class="ibexa-fieldgroup">
            <h2 class="ibexa-fieldgroup__name">
                <b>{{ 'policy.view.policy.title'|trans|desc('Policy type:') }}</b>
                {{ policy.module|capitalize ~ ' / ' ~ policy.function|capitalize }}
            </h2>
            {% do form.policy.setRendered %}
        </section>
        <section class="ibexa-fieldgroup">
            <h2 class="ibexa-fieldgroup__name"><b>{{ 'policy.view.limitations.title'|trans|desc('Edit') }}</b></h2>
            <div class="ibexa-fieldgroup__content">
                {% for limitation_form in form.limitations %}
                    {{ include(limitation_form.vars.template, {form: limitation_form}, with_context = false) }}
                {% endfor %}
            </div>
        </section>
        {{ form_widget(form.save, {"attr": {"hidden": "hidden"}}) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ibexa-admin-ui-policy-edit-js', null, 'ibexa') }}
{% endblock %}
