{% extends "@ibexadesign/ui/layout.html.twig" %}

{% trans_default_domain 'ibexa_content_type' %}

{% block body_class %}ibexa-content-type-group-list-view{% endblock %}

{% block title %}{{ parent() }} - {{ 'content_type_group.list.title'|trans({ '%name%': content_type_group.identifier })|desc('Content Types in "%name%" group') }}{% endblock %}

{% block breadcrumbs %}
    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ibexa.content_type_group.list'), value: 'content_type_group.breadcrumb.list'|trans|desc('Content Types') },
        { value: 'content_type_group.breadcrumb.view'|trans({ '%identifier%': content_type_group.identifier })|desc('%identifier%') }
    ]} %}
{% endblock %}

{% block header %}
    {% include '@ibexadesign/ui/page_title.html.twig' with {
        title: 'content_type_group.view.view.title'|trans({ '%identifier%': content_type_group.identifier })|desc('%identifier%'),
    } %}
{% endblock %}

{% block context_menu %}
    {% set menu_items %}
        {% if can_create %}
            <li class="ibexa-context-menu__item ibexa-adaptive-items__item">
                <a
                    href="{{ path('ibexa.content_type.add', {contentTypeGroupId: content_type_group.id}) }}"
                    class="btn ibexa-btn ibexa-btn--primary"
                >
                    <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                        <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
                    </svg>
                    <span class="ibexa-btn__label">
                        {{ 'content_type.view.list.action.add'|trans|desc('Create') }}
                    </span>
                </a>
            </li>
        {% endif %}
    {% endset %}

    {{ include('@ibexadesign/ui/component/context_menu/context_menu.html.twig', {
        menu_items: menu_items,
    }) }}
{% endblock %}

{% block content %}
    {{ render(controller('Ibexa\\Bundle\\AdminUi\\Controller\\ContentTypeController::listAction', {
        contentTypeGroupId: content_type_group.id,
        page: page,
        routeName: route_name
    })) }}
{% endblock %}
