{% extends "@ibexadesign/ui/layout.html.twig" %}

{% form_theme form_content_type_groups_delete '@ibexadesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'content_type' %}

{% block body_class %}ibexa-content-type-group-list-view{% endblock %}

{% block breadcrumbs %}
    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'content_type_group.breadcrumb.list'|trans|desc('Content Types') }
    ]} %}
{% endblock %}

{% block header %}
    {% include '@ibexadesign/ui/page_title.html.twig' with {
        title: 'content_type_group.view.list.title'|trans|desc('Content Type groups'),
    } %}
{% endblock %}

{% block context_menu %}
    {% set menu_items %}
        {% if can_create %}
            <li class="ibexa-context-menu__item ibexa-adaptive-items__item">
                <a
                    href="{{ path('ibexa.content_type_group.create') }}"
                    class="btn ibexa-btn ibexa-btn--primary"
                >
                    <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                        <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
                    </svg>
                    <span class="ibexa-btn__label">
                        {{ 'content_type_group.view.list.action.add'|trans|desc('Create') }}
                    </span>
                </a>
            </li>
        {% endif %}
    {% endset %}

    {{ include('@ibexadesign/ui/component/context_menu/context_menu.html.twig', {
        menu_items: menu_items,
    }) }}
{% endblock %}

{% block content %}
    <section class="container ibexa-container">
        {% set body_rows = [] %}
        {% set show_table_notice = false %}

        {% for content_type_group in pager.currentPageResults %}
            {% set body_row_cols = [] %}
            {% set col_raw %}
                {% if can_delete %}
                    {% if not show_table_notice and not deletable[content_type_group.id] %}
                        {% set show_table_notice = true %}
                    {% endif %}

                    {{ form_widget(
                        form_content_type_groups_delete.content_type_groups[content_type_group.id],
                        { 'disabled': not deletable[content_type_group.id] }
                    ) }}
                {% else %}
                    {% do form_content_type_groups_delete.content_type_groups.setRendered %}
                {% endif %}
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                has_checkbox: true,
                content: col_raw,
                raw: true,
            }]) %}

            {% set col_raw %}
                {% set view_url = path('ibexa.content_type_group.view', {
                    contentTypeGroupId: content_type_group.id
                }) %}

                <a href="{{ view_url }}">{{ content_type_group.identifier }}</a>
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                content: col_raw,
                raw: true,
            }]) %}

            {% set body_row_cols = body_row_cols|merge([
                { content: content_type_group.id },
                { content: content_types_count[content_type_group.id] },
            ]) %}

            {% set col_raw %}
                {% if can_update %}
                    {% set edit_url = path('ibexa.content_type_group.update', {
                        contentTypeGroupId: content_type_group.id
                    }) %}
                    <a
                        title="{{ 'content_type_group.view.list.action.edit'|trans|desc('Edit') }}"
                        href="{{ edit_url }}"
                        class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-btn--no-text"
                    >
                        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                            <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                        </svg>
                    </a>
                {% endif %}
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                has_action_btns: true,
                content: col_raw,
                raw: true,
            }]) %}

            {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
        {% endfor %}

        {% embed '@ibexadesign/ui/component/table/table.html.twig' with {
            headline: 'content_type_group.view.list.title'|trans|desc('Content Type groups'),
            head_cols: [
                { has_checkbox: true },
                { content: 'content_type_group.view.list.column.identifier'|trans|desc('Name') },
                { content: 'content_type_group.view.list.column.id'|trans|desc('ID') },
                { content: 'content_type_group.view.list.column.content_types_count'|trans|desc('Number of Content Types') },
                { },
            ],
            body_rows,
            show_notice: show_table_notice,
            notice_message: 'content_type_group.view.list.cannot_delete_notice'|trans|desc('You cannot delete the disabled Content Type groups, because they contain Content Types.'),
        } %}
            {% block header %}
                {% embed '@ibexadesign/ui/component/table/table_header.html.twig' %}
                    {% block actions %}
                        {% if can_delete %}
                            {% set modal_data_target = 'delete-content-type-groups-modal' %}
                            <button
                                id="delete-content-type-groups"
                                type="button"
                                class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small"
                                disabled
                                data-bs-toggle="modal"
                                data-bs-target="#{{ modal_data_target }}"
                            >
                                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                                    <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                                </svg>
                                <span class="ibexa-btn__label">
                                    {{ 'content_type_group.view.list.action.delete'|trans|desc('Delete') }}
                                </span>
                            </button>
                            {% include '@ibexadesign/ui/modal/bulk_delete_confirmation.html.twig' with {
                                'id': modal_data_target,
                                'message': 'content_type_group.modal.message'|trans|desc('Do you want to delete the Content Type group?'),
                                'data_click': '#content_type_groups_delete_delete',
                            }%}
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% block between_header_and_table %}
                {{ form_start(form_content_type_groups_delete, {
                    'action': path('ibexa.content_type_group.bulk_delete'),
                    'attr': { 'class': 'ibexa-toggle-btn-state', 'data-toggle-button-id': '#delete-content-type-groups' }
                }) }}
            {% endblock %}
        {% endembed %}
        {{ form_end(form_content_type_groups_delete) }}

        {% if pager.haveToPaginate %}
            {% include '@ibexadesign/ui/pagination.html.twig' with {
                'pager': pager
            } %}
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ibexa-admin-ui-content-type-group-list-js', null, 'ibexa') }}
{% endblock %}
