<ul class="ibexa-context-menu ibexa-context-menu--before-adaptive-items-init">
    {% set selector_btn_classes = selector_btn_classes|default('') %}
    {% set selector_btn_type = selector_btn_type|default('secondary') %}
    {% set selector_btn_size = selector_btn_size|default('medium') %}
    {% set selector_btn_icon_size = selector_btn_size == 'small' ? 'tiny-small' : 'small' %}

    {{ menu_items }}

    <li class="
        ibexa-context-menu__item
        ibexa-context-menu__item--more
        ibexa-context-menu__item--hidden
        ibexa-adaptive-items__item
        ibexa-adaptive-items__item--selector
    ">
        <twig:ibexa:button
            type="{{ selector_btn_type }}"
            size="{{ selector_btn_size }}"
            icon="more"
            icon_size="{{ selector_btn_icon_size }}"
            class="{{ (selector_btn_classes ~ ' ibexa-btn--more')|trim }}"
        />

        {{ include('@ibexadesign/ui/component/multilevel_popup_menu/multilevel_popup_menu.html.twig', {
            is_custom_init: true,
        }) }}
    </li>
</ul>
