{% trans_default_domain 'ibexa_locationview' %}

{% set is_draft = is_draft is defined and is_draft %}
{% set is_archived = is_archived is defined and is_archived %}
{% set is_draft_conflict = is_draft_conflict is defined and is_draft_conflict %}
{% set custom_actions = custom_actions|default(false) %}
{% set have_actions = (is_draft or is_archived) or custom_actions %}

<div class="ibexa-scrollable-wrapper">
    <table class="ibexa-table table ibexa-table--draft-conflict {{ (is_draft and have_to_paginate ? 'mb-3' : '') }}">
        <thead>
            <tr class="ibexa-table__head-row">
                {% if form is defined %}
                    {% include '@ibexadesign/ui/component/table/table_head_cell.html.twig' with {
                        has_checkbox: true,
                        content: null,
                    } %}
                {% endif %}
                {% include '@ibexadesign/ui/component/table/table_head_cell.html.twig' with {
                    is_close_left: form is defined,
                    content: 'tab.versions.table.version'|trans()|desc('Version'),
                } %}
                {% include '@ibexadesign/ui/component/table/table_head_cell.html.twig' with {
                    content: 'tab.versions.table.modified_language'|trans()|desc('Modified language'),
                } %}
                {% block custom_column_headers %}{% endblock %}
                {% include '@ibexadesign/ui/component/table/table_head_cell.html.twig' with {
                    content: 'tab.versions.table.contributor'|trans()|desc('Contributor'),
                } %}
                {% if not is_draft_conflict %}
                    {% include '@ibexadesign/ui/component/table/table_head_cell.html.twig' with {
                        content: 'tab.versions.table.created'|trans()|desc('Created'),
                    } %}
                {% endif %}
                {% include '@ibexadesign/ui/component/table/table_head_cell.html.twig' with {
                    content: 'tab.versions.table.last_saved'|trans()|desc('Last saved'),
                } %}
                {% block custom_actions_column_headers %}{% endblock %}
                {% if have_actions %}
                    {% include '@ibexadesign/ui/component/table/table_head_cell.html.twig' with { content: null } %}
                {% endif %}
            </tr>
        </thead>
        <tbody class="ibexa-table__body">
            {% for version in versions %}
                {% set custom_columns %}
                    {% block custom_columns %}{% endblock %}
                {% endset %}

                {% set custom_actions_column %}
                    {% block custom_actions_column %}{% endblock %}
                {% endset %}

                {% embed '@ibexadesign/ui/component/table/table_body_row.html.twig' %}
                    {% block body_row_cells %}
                        {% if form is defined %}
                            {% embed '@ibexadesign/ui/component/table/table_body_cell.html.twig' with { has_checkbox: true } %}
                                {% block content %}
                                    {{ form_widget(form.versions[version.versionNo], {'attr': {'disabled': not version.canDelete}}) }}
                                {% endblock %}
                            {% endembed %}
                        {% endif %}
                        {% include '@ibexadesign/ui/component/table/table_body_cell.html.twig' with {
                            is_close_left: form is defined,
                            content: version.versionNo,
                        } %}
                        {% include '@ibexadesign/ui/component/table/table_body_cell.html.twig' with {
                            content: ibexa_admin_ui_config.languages.mappings[version.initialLanguageCode].name,
                        } %}
                        {{ custom_columns }}

                        {% set author_name %}
                            {% if version.author is not empty %}
                                {% include '@ibexadesign/ui/component/user/user.html.twig' with { user: version.author } only %}
                            {% else %}
                                {{ 'tab.versions.table.author.not_found'|trans|desc('Can\'t fetch contributor') }}
                            {% endif %}
                        {% endset %}

                        {% include '@ibexadesign/ui/component/table/table_body_cell.html.twig' with {
                            content: author_name,
                        } %}
                        {% if not is_draft_conflict %}
                            {% include '@ibexadesign/ui/component/table/table_body_cell.html.twig' with {
                                content: version.creationDate|ibexa_full_datetime,
                            } %}
                        {% endif %}
                        {% include '@ibexadesign/ui/component/table/table_body_cell.html.twig' with {
                            content: version.modificationDate|ibexa_full_datetime,
                        } %}

                        {% if have_actions %}
                            {% embed '@ibexadesign/ui/component/table/table_body_cell.html.twig' with { has_action_btns: true } %}
                                {% block action_btns_content %}
                                    {{ custom_actions_column }}

                                    {% set version_action_list = knp_menu_get(
                                        'ibexa.admin_ui.action.version_list',
                                        [],
                                        {
                                            versionInfo: version,
                                            isDraftConflict: is_draft_conflict,
                                            locationId: location.id ?? null
                                        }) %}
                                    {{ knp_menu_render(version_action_list, {
                                        template: '@ibexadesign/ui/action_list.html.twig',
                                    }) }}
                                {% endblock %}
                            {% endembed %}
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endfor %}
        </tbody>
    </table>
</div>
