{% extends template_to_extend %}

{% trans_default_domain 'ibexa_notifications' %}

{% block icon %}
    <span class="type__icon">
        <svg class="ibexa-icon">
            <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
        </svg>
    </span>
{% endblock %}

{% block notification_type %}
    <span class="type__text">
        {{ 'notification.trashed'|trans|desc('Sent to Trash')}}
    </span>
{% endblock %}

{% set btn_disabled = true %}
{% block btn_show_content %}
    {{ parent() }}
{% endblock %}

{% block message %}
    {% block content %}
        <p class="description__text{% if title|length > 40 %} description__text--ellipsis{% endif %}" title="{{ title }}">
            {{ 'notification.title'|trans|desc('Title:') }}
            <strong>{{ title }}</strong>
        </p>
        <p>{{ 'notification.trashed.info'|trans({}, 'ibexa_notifications')|desc('moved to Trash')}}</p>
    {% endblock %}
{% endblock %}
