{% extends '@ibexadesign/ui/layout.html.twig' %}

{% import '@ibexadesign/ui/component/macros.html.twig' as html %}
{% import _self as macros %}
{% from '@ibexadesign/ui/component/macros.html.twig' import results_headline %}

{% trans_default_domain 'ibexa_notifications' %}
{% form_theme delete_form '@ibexadesign/ui/form_fields.html.twig' %}

{% block main_container_class %}{{ parent() }} ibexa-notification-list__container {% endblock %}

{% block title %}{{ 'ibexa_notifications'|trans|desc('Notifications') }}{% endblock %}
{% set no_items = pager.count is same as(0) %}
{% block header %}
    <div class="ibexa-notification-list__btn">
        <button 
        class="btn ibexa-btn ibexa-btn--secondary ibexa-notification-list__mark-all-as-read"
        {% if no_items %}disabled="true"{% endif %}
        >
            {{ 'ibexa_notifications.btn.mark_all_as_read'|trans|desc('Mark all as read') }}
        </button>
    </div>

    {% include '@ibexadesign/ui/page_title.html.twig' with {
        title: 'ibexa_notifications'|trans|desc('Notifications'),
    } %}
{% endblock %}

{% block content %}
    {{ form_start(delete_form, {
        action: path('ibexa.notifications.delete_multiple'),
        'attr': {
            'class': 'ibexa-toggle-btn-state ibexa-notification-list__hidden-btn',
            'data-toggle-button-id': '#confirm-selection_remove'
        }
    }) }}
        {% for row in delete_form.notifications %}
            {{ form_widget(row, {
                'attr': {
                    'hidden': true
                }
            }) }}
        {% endfor %}
        <button
           id="selection_remove"
           type="submit"
           hidden
        ></button>
    {{ form_end(delete_form) }}
    {{ form_start(search_form, {
        attr: { class: 'ibexa-list-search-form' }
    }) }}
        <div class="ibexa-notification-list ibexa-container">
            <section class="ibexa-notification-list__data-grid-wrapper">
                {% embed '@ibexadesign/ui/component/table/table.html.twig' with {
                    headline: custom_results_headline ?? results_headline(pager.getNbResults()),
                    head_cols: [
                        { has_checkbox: true },
                        { content: 'notification.Title'|trans|desc('Title') },
                        { content: 'notification.status'|trans|desc('Status') },
                        { content: 'notification.datetime'|trans|desc('Date and time') },
                    ],
                    class: 'ibexa-table--notifications',
                    actions: macros.table_header_tools(delete_form),
                    is_scrollable: false,
                    show_head_cols_if_empty: not no_items,
                    attr: {
                        'data-notifications': path('ibexa.notifications.render.page'),
                        'data-notifications-count': path('ibexa.notifications.count'),
                        'data-notifications-count-interval': notifications_count_interval,
                        'data-notifications-total': pager.nbResults,
                    },
                    empty_table_info_text: 'notifications.list.empty'|trans|desc('You don\'t have any notifications.'),
                } %}
                    {% block tbody %}
                        {% if no_items %}
                            {% include '@ibexadesign/ui/component/table/empty_table_body_row.html.twig' with {
                                colspan: 3,
                                empty_table_info_text: 'notifications.list.empty'|trans|desc('You don\'t have any notifications.'),
                            } %}
                        {% else %}
                            {% block tbody_not_empty %}
                                {% for notification in notifications %}
                                    {{ notification|raw }}
                                {% endfor %}
                            {% endblock %}
                        {% endif %}
                    {% endblock %}
                {% endembed %}
                {% if pager.haveToPaginate %}
                    <div class="ibexa-al-data-grid__paginator">
                        {% include '@ibexadesign/ui/pagination.html.twig' with {
                            pager,
                            'paginaton_params': {
                                'routeName': 'ibexa.notifications.render.all',
                            }
                        } %}
                    </div>
                {% endif %}
            </section>
            <div class="ibexa-notification-list__filters-wrapper ibexa-list-filters__sidebar">
                {% include '@ibexadesign/account/notifications/filters.html.twig' %}
            </div>
        </div>
    {{ form_end(search_form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ibexa-admin-notifications-list-js', null, 'ibexa') }}
{% endblock %}

{% macro table_header_tools(form,) %}
    {% set modal_data_target = 'modal-selection_remove' %}

    <div class="ibexa-notification-list__table-btns">
        <twig:ibexa:button
            id="confirm-mark-selected-as-read"
            html_type="button"
            type="tertiary-alt"
            icon="mail-open"
            icon_size="small"
            class="ibexa-notification-list__btn-mark-as-read"
            :disabled="true"
        >
            {{ 'notification.mark_as_read'|trans|desc('Mark as read') }}
        </twig:ibexa:button>
        <twig:ibexa:button
            id="confirm-selection_remove"
            html_type="button"
            type="tertiary-alt"
            icon="trash"
            icon_size="small"
            class="ibexa-notification-list__btn-delete"
            :disabled="true"
            data-bs-toggle="modal"
            :data-bs-target="'#' ~ modal_data_target"
        >
            {{ 'notification.delete'|trans|desc('Delete') }}
        </twig:ibexa:button>
    </div>
    {% include '@ibexadesign/ui/modal/bulk_delete_confirmation.html.twig' with {
        'id': modal_data_target,
        'message': 'notifications.list.action.remove.confirmation.text'|trans|desc('Are you sure you want to permanently delete the selected notification(s)?'),
        'data_click': '#selection_remove',
    } %}
{% endmacro %}
