{% embed '@ibexadesign/ui/component/modal/modal.html.twig' with {
    class: 'ibexa-modal--send-to-trash',
    no_header: true,
    id: 'confirmEmptyTrash',
} %}
    {% form_theme form '@ibexadesign/ui/form_fields.html.twig' %}

    {% block body_content %}
        <p class="ibexa-modal-body__main">
            {{ 'trash.delete.all.confirm'|trans({'%trashItemsCount%': trash_items_count})|desc(
                'Permanently delete items: %trashItemsCount%?'
            ) }}
        </p>
    {% endblock %}
    {% block footer_content %}
        {{ form_start(form, {
            'action': path('ibexa.trash.empty')
        }) }}
        {{ form_widget(form.empty, {'attr': {'class': 'btn ibexa-btn ibexa-btn--primary'}}) }}
        <twig:ibexa:button html_type="button" type="secondary" data-bs-dismiss="modal">
            {{ 'trash.delete.button.cancel'|trans|desc('Cancel') }}
        </twig:ibexa:button>
        {{ form_widget(form.empty_trash, {'label_attr': {'class': 'checkbox-inline'}, 'attr': {'hidden': true}}) }}
        {{ form_end(form) }}
    {% endblock %}
{% endembed %}
