{% extends '@ibexadesign/content/edit_base.html.twig' %}

{% trans_default_domain 'ibexa_content_edit' %}

{% block meta %}
    <meta name="LanguageCode" content="{{ language.languageCode }}"/>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'content_edit.title'|trans({ '%name%':content.name })|desc('Editing "%name%"') }}{% endblock %}

{% block header %}
    {% set content_edit_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.content_edit.sidebar_right', [], {
        'content': content,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language,
    }) %}

    {% include '@ibexadesign/ui/edit_header.html.twig' with {
        action_name: 'editing'|trans|desc('Editing'),
        content_type_name: content_type.name,
        title: content.name,
        icon_name: 'content-type',
        show_autosave_status: true,
        description: content_type.description,
        subtitle: 'editing_details'|trans({
            '%location%': parent_location.contentInfo.name,
            '%language%': language.name
        })|desc('Location: %location% Translation: %language%'),
        context_actions: knp_menu_render(content_edit_sidebar_right, { 'template': '@ibexadesign/ui/menu/context_menu.html.twig' })
    } %}
{% endblock %}

{% block form_before %}
    {{ ibexa_render_component_group('content-edit-form-before', {
        'content': content,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language
    }) }}
{% endblock %}

{% block form_fields %}
    <div class="card ibexa-card ibexa-card--light">
        <div class="card-body">
            {{ parent() }}
            {{ form_widget(form.publish, {'attr': {'hidden': 'hidden'}}) }}
            {{ form_widget(form.publishAndEdit, { attr: { hidden: 'hidden' }}) }}
            {{ form_widget(form.saveDraft, {'attr': {'hidden': 'hidden'}}) }}
            {{ form_widget(form.saveDraftAndClose, { attr: { hidden: 'hidden' }}) }}
            {{ form_widget(form.cancel, {'attr': {'hidden': 'hidden'}}) }}
        </div>
    </div>
{% endblock %}

{% block anchor_menu %}
    {% set content_edit_anchor_menu = knp_menu_get('ibexa.admin_ui.menu.content_edit.anchor_menu', [], {
        'content': content,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language,
        'grouped_fields': grouped_fields,
    }) %}

    {% embed '@ibexadesign/ui/anchor_navigation_menu.html.twig' with anchor_params %}
        {% block navigation_menu_body %}
            {{ knp_menu_render(content_edit_anchor_menu, { 'template': '@ibexadesign/ui/menu/anchor_menu.html.twig' }) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content_sections %}
    {{ ibexa_render_component_group('content-edit-sections', {
        'form': form,
        'content': content,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language
    }) }}
{% endblock %}

{% block form_after %}
    {{ ibexa_render_component_group('content-edit-form-after', {
        'content': content,
        'content_type': content_type,
        'location': location,
        'parent_location': parent_location,
        'language': language
    }) }}
{% endblock %}
