{% trans_default_domain 'ezplatform_url_wildcard' %}

{% embed '@ibexadesign/ui/component/modal/modal.html.twig' with {
    title: 'url_wildcard.modal.create.title'|trans|desc('Create a new URL wildcard'),
    class: 'ibexa-modal--url-wildcards',
    id,
} %}
    {% trans_default_domain 'ezplatform_url_wildcard' %}
    {% form_theme form '@ibexadesign/content/form_fields.html.twig' '@ibexadesign/content/tab/url/checkbox.html.twig' %}

    {% block content_before %}
        {{ form_start(form, {'action': path('ibexa.url_wildcard.add')}) }}
    {% endblock %}
    {% block body_content %}
        <div class="ibexa-form-block">
            <div class="form-group">
                <label class="ibexa-label ibexa-modal__label required">
                    {{ 'url_wildcard.modal.create.url.wildcard'|trans|desc('URL wildcard') }}
                </label>
                {{ form_widget(form.source_url) }}
            </div>

            <div class="form-group">
                <label class="ibexa-label ibexa-modal__label required">
                    {{ 'url_wildcard.modal.create.url.destintion'|trans|desc('Destination') }}
                </label>
                {{ form_widget(form.destination_url) }}
            </div>

            <div class="form-group">
                <label class="ibexa-label ibexa-modal__label">
                    {{ 'url_wildcard.modal.create.redirect'|trans|desc('Redirect to wildcard destination') }}
                </label>
                {{ form_widget(form.forward) }}
                <div class="ibexa-modal__info-text">
                    {{ 'url_wildcard.modal.create.redirect.helper'|trans|desc(
                        'When checked, the URL displayed will be the URL of the destination. When unchecked, the wildcard will not redirect to the destination and the URL will stay the same.'
                    ) }}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footer_content %}
        {{ form_widget(form.create, {'attr': {'class': 'btn ibexa-btn ibexa-btn--primary', 'disabled': 'disabled'}}) }}
        <button type="button" class="btn ibexa-btn ibexa-btn--secondary" data-bs-dismiss="modal">
            {{ 'url_wildcard.modal.create.cancel'|trans|desc('Cancel') }}
        </button>
    {% endblock %}
    {% block content_after %}
        {{ form_end(form) }}
    {% endblock %}
{% endembed %}
