<div class="ibexa-table-header {{ class|default('') -}}">
    <div
        class="ibexa-table-header__headline"
        title="{{ headline_title|default('') }}"
    >
        {% block headline %}
            {{ headline|default('') }}

            <div class="
                ibexa-table-header__notice
                {{ notice_class|default('') }}
                {{ not notice_message|default('') and not show_notice|default(false) ? 'ibexa-table-header__notice--hidden' }}"
            >
                <svg class="ibexa-icon ibexa-icon--small ibexa-table-header__notice-icon">
                    <use xlink:href="{{ ibexa_icon_path(notice_icon|default('about-info')) }}"></use>
                </svg>
                {{ notice_message|default('') }}
            </div>
        {% endblock %}
    </div>
    <div class="ibexa-table-header__actions">
        {% block actions %}
            {{ actions|default('')|raw }}
        {% endblock %}
    </div>
</div>