{% extends '@ibexadesign/ui/layout.html.twig' %}

{% from '@ibexadesign/ui/component/macros.html.twig' import results_headline %}

{% form_theme form_sections_delete '@ibexadesign/ui/form_fields.html.twig'  %}
{% form_theme form_section_content_assign '@ibexadesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'section' %}

{% block body_class %}ibexa-section-list-view{% endblock %}

{% block breadcrumbs %}
    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'section.list.title'|trans|desc('Sections') }
    ]} %}
{% endblock %}

{% block header %}
    {% include '@ibexadesign/ui/page_title.html.twig' with {
        title: 'section.list.title'|trans|desc('Sections'),
    } %}
{% endblock %}

{% block context_menu %}
    {% set menu_items %}
        {% if can_add %}
            <li class="ibexa-context-menu__item ibexa-adaptive-items__item">
                <a
                    href="{{ path('ibexa.section.create') }}"
                    class="btn ibexa-btn ibexa-btn--primary"
                >
                    <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                        <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
                    </svg>
                    <span class="ibexa-btn__label">
                        {{ 'section.new'|trans|desc('Create') }}
                    </span>
                </a>
            </li>
        {% endif %}
    {% endset %}

    {{ include('@ibexadesign/ui/component/context_menu/context_menu.html.twig', {
        menu_items: menu_items,
    }) }}
{% endblock %}

{% block content %}
    <section class="container ibexa-container">
        {% set body_rows = [] %}
        {% set show_table_notice = false %}

        {% for section in pager.currentPageResults %}
            {% set body_row_cols = [] %}

            {% set col_raw %}
                {% if can_edit %}
                    {% if not show_table_notice and not deletable[section.id] %}
                        {% set show_table_notice = true %}
                    {% endif %}

                    {{ form_widget(form_sections_delete.sections[section.id], {
                        "disabled": not deletable[section.id]
                    }) }}
                {% else %}
                    {% do form_sections_delete.sections.setRendered %}
                {% endif %}
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                has_checkbox: true,
                content: col_raw,
                raw: true,
            }]) %}

            {% set col_raw %}
                <a href="{{ path( 'ibexa.section.view', {'sectionId': section.id} ) }}">
                    {{ section.name }}
                </a>
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                content: col_raw,
                raw: true,
            }]) %}

            {% set body_row_cols = body_row_cols|merge([
                { content: section.identifier },
                { content: section.id },
                { content: content_count[section.id] },
            ]) %}

            {% set col_raw %}
                {% if assignable[section.id] %}
                    <a
                        title="{{ 'section.assign_content'|trans|desc('Assign content') }}"
                        href="#"
                        data-section-id="{{ section.id }}"
                        data-form-action="{{ path("ibexa.section.assign_content", {"sectionId": section.id}) }}"
                        data-udw-config="{{ ibexa_udw_config('multiple', {'type': 'section_assign'}) }}"
                        class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                    >
                        <svg class="ibexa-icon ibexa-icon--relations ibexa-icon--small ibexa-btn--open-udw">
                            <use xlink:href="{{ ibexa_icon_path('assign-section') }}"></use>
                        </svg>
                    </a>
                {% endif %}
                {% if can_edit %}
                    <a
                        title="{{ 'section.edit'|trans|desc('Edit') }}"
                        href="{{ path('ibexa.section.update', {'sectionId': section.id}) }}"
                        class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                    >
                        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                            <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                        </svg>
                    </a>
                {% endif %}
            {% endset %}
            {% set body_row_cols = body_row_cols|merge([{
                has_action_btns: true,
                content: col_raw,
                raw: true,
            }]) %}

            {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
        {% endfor %}

        {% embed '@ibexadesign/ui/component/table/table.html.twig' with {
            headline: custom_results_headline ?? results_headline(pager.getNbResults()),
            head_cols: [
                { has_checkbox: true },
                { content: 'section.name'|trans|desc('Name') },
                { content: 'section.identifier'|trans|desc('Identifier') },
                { content: 'section.id'|trans|desc('ID') },
                { content: 'section.assigned.content'|trans|desc('Assigned content') },
                { },
            ],
            body_rows,
            show_notice: show_table_notice,
            notice_message: 'section.list.cannot_delete_notice'|trans|desc('You cannot delete the disabled sections, because they have assigned content.'),
        } %}
            {% block header %}
                {% embed '@ibexadesign/ui/component/table/table_header.html.twig' %}
                    {% block actions %}
                        {% if can_edit %}
                            {% set modal_data_target = 'delete-sections-modal' %}
                            <button
                                id="delete-sections"
                                type="button"
                                class="btn ibexa-btn ibexa-btn--ghost"
                                disabled
                                data-bs-toggle="modal"
                                data-bs-target="#{{ modal_data_target }}"
                            >
                                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                                    <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                                </svg>
                                <span class="ibexa-btn__label">
                                    {{ 'section.delete'|trans|desc('Delete') }}
                                </span>
                            </button>
                            {% include '@ibexadesign/ui/modal/bulk_delete_confirmation.html.twig' with {
                                'id': modal_data_target,
                                'message': 'section.modal.message'|trans|desc('Do you want to delete the Section(s)?'),
                                'data_click': '#sections_delete_delete',
                            }%}
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}

            {% block between_header_and_table %}
                {{ form_start(form_sections_delete, {
                    'action': path('ibexa.section.bulk_delete'),
                    'attr': { 'class': 'ibexa-toggle-btn-state', 'data-toggle-button-id': '#delete-sections' }
                }) }}
            {% endblock %}
        {% endembed %}
        {{ form_end(form_sections_delete) }}

        {% if pager.haveToPaginate %}
            {% include '@ibexadesign/ui/pagination.html.twig' with {
                'pager': pager
            } %}
        {% endif %}

        {{ form_start(form_section_content_assign, {
            'attr': {'class': 'd-inline-block'}
        }) }}
        {{ form_widget(form_section_content_assign.locations.select_content, {'attr': {'hidden': 'hidden'}}) }}
        {{ form_widget(form_section_content_assign.locations.location, {'label': false}) }}
        {{ form_end(form_section_content_assign) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ibexa-admin-ui-section-list-js', null, 'ibexa') }}
{% endblock %}
