{% extends '@ibexadesign/language/base.html.twig' %}

{% form_theme form '@ibexadesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'ibexa_language' %}

{% block header_admin %}
    {% set language_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.language_create.sidebar_right', [], {
        save_id: form.save.vars.id,
        save_and_close_id: form.save_and_close.vars.id,
    }) %}

    {% include '@ibexadesign/ui/edit_header.html.twig' with {
        action_name: 'language.creating'|trans|desc('Adding'),
        title: 'language.new.title'|trans|desc('New Language'),
        subtitle: 'language.subtitle'|trans|desc('Languages'),
        context_actions: knp_menu_render(language_create_sidebar_right, {'template': '@ibexadesign/ui/menu/context_menu.html.twig'})
    } %}
{% endblock %}

{% block form %}
    {{ form_start(form, {'action': actionUrl}) }}
        <section>
            <div class="card ibexa-card ibexa-card--light">
                <div class="card-body ibexa-card__body ibexa-form-block">
                    {{ form_row(form.name, { row_attr: { class: 'ibexa-form-field' }, attr: {'autofocus': 'autofocus'} }) }}
                    {{ form_row(form.languageCode, { row_attr: { class: 'ibexa-form-field ibexa-form-field--no-bottom-margin' } }) }}
                    {{ form_row(form.enabled, { row_attr: { class: 'ibexa-form-field' }, label_attr: { class: 'checkbox-inline' } }) }}
                </div>
            </div>
        </section>
        {{ form_widget(form.save, { attr: { hidden: 'hidden' }}) }}
        {{ form_widget(form.save_and_close, { attr: { hidden: 'hidden' }}) }}
    {{ form_end(form) }}
{% endblock %}
