{% extends "@ibexadesign/ui/layout.html.twig" %}

{% form_theme deleteForm '@ibexadesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'ibexa_language' %}

{% block body_class %}ibexa-language-view{% endblock %}

{% block breadcrumbs %}
    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { url: path('ibexa.language.list'), value: 'language.list'|trans|desc('Languages') },
        { value: 'language.view.identifier'|trans({ '%language%': language.name })|desc('%language%') }
    ]} %}
{% endblock %}

{% block title %}{{ 'language.view.title.identifier'|trans({ '%language%': language.name })|desc('Language "%language%"') }}{% endblock %}

{% block header %}
    {% include '@ibexadesign/ui/page_title.html.twig' with {
        title: 'language.view.title.identifier'|trans({ '%language%': language.name })|desc('Language "%language%"'),
    } %}
{% endblock %}

{% block context_menu %}
    {% if can_administrate %}
        <ul class="ibexa-context-menu">
            <li class="ibexa-context-menu__item">
                <twig:ibexa:link
                    href="{{ path('ibexa.language.edit', {'languageId': language.id}) }}"
                    variant="button"
                    type="primary"
                >
                    {{ 'language.edit'|trans|desc('Edit') }}
                </twig:ibexa:link>
            </li>
            <li class="ibexa-context-menu__item">
                {{ form_start(deleteForm, {"action": path("ibexa.language.delete", {"languageId": language.id, "redirectErrorsTo": "view"})}) }}
                    {{ form_widget(deleteForm.language) }}

                    <twig:ibexa:button
                        html_type="button"
                        type="secondary"
                        data-bs-toggle="modal"
                        data-bs-target="#delete-language-modal"
                    >
                        {{ 'language.delete_language'|trans|desc('Delete') }}
                    </twig:ibexa:button>

                    {% include '@ibexadesign/language/modal/delete_confirmation.html.twig' with {'deleteForm': deleteForm} %}
                {{ form_end(deleteForm) }}
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    {% set enable_checkbox_raw %}
        <div class="form-check">
            <input
                type="checkbox"
                title="{{ language.enabled ? 'language.enabled'|trans|desc('Enabled') : 'language.disabled'|trans|desc('Disabled') }}"
                class="ibexa-input ibexa-input--checkbox form-check-input"
                disabled
                {% if language.enabled %}checked{% endif %}
            >
        </div>
    {% endset %}
    {% set language_items = [
        {
            label: 'language.name.label'|trans|desc('Name'),
            content: language.name,
        },
        {
            label: 'language.code.label'|trans|desc('Language code'),
            content: language.languageCode,
        },
        {
            label: 'language.id.label'|trans|desc('ID'),
            content: language.id,
        },
        {
            label: 'language.enabled.label'|trans|desc('Enabled'),
            content: enable_checkbox_raw,
        },
    ] %}

    <section class="container ibexa-container">
        {% include '@ibexadesign/ui/component/details/details.html.twig' with {
            headline: 'language.information.header'|trans|desc('Language information'),
            items: language_items,
        } only %}
    </section>
{% endblock %}
