{% extends "@ibexadesign/ui/layout.html.twig" %}

{% trans_default_domain 'ibexa_language' %}

{% block body_class %}ibexa-language-list-view{% endblock %}

{% block breadcrumbs %}
    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'language.list'|trans|desc('Languages') }
    ]} %}
{% endblock %}

{% block title %}{{ 'language.list'|trans|desc('Languages') }}{% endblock %}

{% block header %}
    {% include '@ibexadesign/ui/page_title.html.twig' with {
        title: 'language.list'|trans|desc('Languages'),
    } %}
{% endblock %}

{% block context_menu %}
    {% set menu_items %}
        {% if can_administrate %}
            <li class="ibexa-context-menu__item ibexa-adaptive-items__item">
                <a
                    href="{{ path('ibexa.language.create') }}"
                    class="btn ibexa-btn ibexa-btn--primary"
                >
                    <span class="ibexa-btn__label">
                        {{ 'language.new'|trans|desc('Add language') }}
                    </span>
                </a>
            </li>
        {% endif %}
    {% endset %}

    {{ include('@ibexadesign/ui/component/context_menu/context_menu.html.twig', {
        menu_items: menu_items,
    }) }}
{% endblock %}

{% block content %}
    {{ ibexa_twig_component_group('admin-ui-languages-tab-groups', {
        pager: pager,
        form_languages_delete: form_languages_delete,
        can_administrate: can_administrate,
    }) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ibexa-admin-ui-language-list-js', null, 'ibexa') }}
{% endblock %}
