{% extends "@ibexadesign/ui/layout.html.twig" %}

{% trans_default_domain 'user_settings' %}

{% block breadcrumbs %}
    {% include '@ibexadesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'list.title'|trans|desc('User Settings') }
    ]} %}
{% endblock %}

{% block header %}
    {% include '@ibexadesign/ui/page_title.html.twig' with {
        title: 'list.title'|trans|desc('User Settings'),
    } %}
{% endblock %}

{% block body_class %}ibexa-user-settings-list-view{% endblock %}

{% block content %}
    {% embed '@ibexadesign/ui/component/tab/tabs.html.twig' with {
        tabs: [
          { id: 'my-preferences', label: 'section.my_preferences'|trans|desc('My Preferences'), active: true },
          { id: 'my-account-settings', label: 'section.my_account_settings'|trans|desc('My Account Settings') },
        ]
    } %}
        {% block tab_content %}
            {% embed '@ibexadesign/ui/component/tab/tab_pane.html.twig' with { id: 'my-preferences', active: true } %}
                {% block content %}
                    {% for settings_group in pager %}
                        {% if settings_group.settings is not empty %}
                            {% set col_raw %}
                                <a
                                    title="{{ 'list.action.edit'|trans|desc('Edit') }}"
                                    href="{{ path('ezplatform.user_settings.update', { 'identifier': settings_group.identifier }) }}"
                                    class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                                >
                                    <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                                        <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                                    </svg>
                                </a>
                            {% endset %}

                            {% set cols = [] %}

                            {% set head_cols = [] %}

                            {% for user_setting in settings_group.settings %}
                                {% set cols = cols|merge([{ content: value_definitions[user_setting.identifier].getDisplayValue(user_setting.value), attr: { colspan: 2 } }]) %}

                                {% set head_cols = user_setting.description is not empty
                                    ? head_cols|merge([{ content: user_setting.description, attr: { colspan: 2 } }])
                                    : null %}

                            {% endfor %}

                            {% set cols = cols|merge([{ has_action_btns: true, content: col_raw, raw: true }]) %}
                            {% set body_rows = [{
                                cols: cols
                            }] %}

                            {% include '@ibexadesign/ui/component/table/table.html.twig' with {
                                headline: settings_group.name,
                                head_cols,
                                body_rows,
                            } %}
                        {% endif %}

                    {% endfor %}

                    {% if pager.haveToPaginate %}
                        {% include '@ibexadesign/ui/pagination.html.twig' with {
                            'pager': pager
                        } %}
                    {% endif %}
                {% endblock %}
            {% endembed %}
            {% embed '@ibexadesign/ui/component/tab/tab_pane.html.twig' with { id: 'my-account-settings' } %}
                {% block content %}
                    {% set col_raw %}
                        <a
                            title="{{ 'my_account_settings.password.action.edit'|trans|desc('Edit') }}"
                            href="{{ path('ezplatform.user_profile.change_password') }}"
                            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                        >
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                                <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                            </svg>
                        </a>
                    {% endset %}

                    {% include '@ibexadesign/ui/component/table/table.html.twig' with {
                        headline: 'my_account_settings.password.title'|trans|desc('Password'),
                        body_rows: [{
                            cols: [
                                { content: 'my_account_settings.password.description'|trans|desc('Current password') },
                                { has_action_btns: true, content: col_raw, raw: true },
                            ]
                        }],
                    } %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ibexa-admin-ui-tabs-js', null, 'ibexa') }}
{% endblock %}
