{% import '@ibexadesign/ui/component/macros.html.twig' as html %}

{% trans_default_domain 'adaptive_filters' %}

{% if filters_id is defined %}
    {% set expanded_info_cookie_name = 'ibexa-af_is-expanded_' ~ filters_id|replace({'_': '-'}) %}
{% endif %}

{% set is_expanded_cookie = expanded_info_cookie_name is defined and app.request.cookies.get(expanded_info_cookie_name) == 'true' %}
{% set is_expanded = is_expanded|default(is_expanded_cookie) %}

{% set toggler_btn_expand_label = 'toggler.open'|trans|desc('More filters') %}
{% set toggler_btn_collapse_label = 'toggler.close'|trans|desc('Less filters') %}

{% set attr = attr|default({})|merge({
    class: ('ibexa-adaptive-filters '
        ~ (no_labels|default(false) ? 'ibexa-adaptive-filters--no-labels ')
        ~ (no_collapsible_items|default(false) ? 'ibexa-adaptive-filters--no-collapsible-items ')
        ~ (is_inside_container|default(false) ? 'ibexa-adaptive-filters--inside-container ')
        ~ (is_inside_tabs|default(false) ? 'ibexa-adaptive-filters--inside-tabs ')
        ~ attr.class|default(''))|trim,
}) %}

{% if expanded_info_cookie_name is defined %}
    {% set attr = attr|merge({
        'data-expanded-info-cookie-name': attr['data-expanded-info-cookie-name']|default(expanded_info_cookie_name),
    }) %}
{% endif %}

{% set attr_form = attr_form|default({}) %}
{% set collapse_id = collapse_id|default('ibexa-adaptive-filters-collapse-' ~ random()) %}

{% set attr_collapsible = attr_collapsible|default({})|merge({
    class: ('ibexa-adaptive-filters__collapsible collapse '
        ~ (is_expanded ? 'show ')
        ~ (not is_expanded ? 'ibexa-adaptive-filters__collapsible--collapsed ')
        ~ attr_collapsible.class|default(''))|trim,
    id: attr_collapsible.id|default(collapse_id),
}) %}

{% set attr_collapsible_content = attr_collapsible_content|default({})|merge({
    class: ('ibexa-adaptive-filters__collapsible-content '
        ~ (not is_expanded ? 'ibexa-adaptive-filters__collapsible-content--collapsed ')
        ~ attr_collapsible_content.class|default(''))|trim,
}) %}

{% set basic_attr_toggler_btn = basic_attr_toggler_btn|default({})|merge({
    class: ('btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-adaptive-filters__toggler '
        ~ basic_attr_toggler_btn.class|default(''))|trim,
    type: basic_attr_toggler_btn.type|default('button'),
}) %}

{% set attr_toggler_btn = attr_toggler_btn|default({})|merge(basic_attr_toggler_btn) %}
{% set attr_toggler_btn = attr_toggler_btn|merge({
    class: ((not is_expanded ? 'ibexa-adaptive-filters__toggler--collapsed ')
        ~ attr_toggler_btn.class|default(''))|trim,
    'data-bs-toggle': attr_toggler_btn['data-bs-toggle']|default('collapse'),
    'data-bs-target': attr_toggler_btn['data-bs-target']|default('#' ~ collapse_id),
    'aria-expanded': attr_toggler_btn['aria-expanded']|default(is_expanded ? 'true' : 'false'),
    'aria-controls': attr_toggler_btn['aria-controls']|default(collapse_id),
}) %}

{% set attr_fake_expanded_toggler_btn = basic_attr_toggler_btn %}
{% set attr_fake_expanded_toggler_btn = attr_fake_expanded_toggler_btn|merge({
    class: ('ibexa-adaptive-filters__toggler--fake '
        ~ attr_fake_expanded_toggler_btn.class|default(''))|trim,
}) %}

{% set attr_fake_collapsed_toggler_btn = basic_attr_toggler_btn %}
{% set attr_fake_collapsed_toggler_btn = attr_fake_collapsed_toggler_btn|merge({
    class: ('ibexa-adaptive-filters__toggler--fake ibexa-adaptive-filters__toggler--collapsed '
        ~ attr_fake_collapsed_toggler_btn.class|default(''))|trim,
}) %}

{% macro collapse_btn(attr, expand_label, collapse_label) %}
    <button {{ html.attributes(attr) }}>
        <svg class="ibexa-icon ibexa-icon--small">
            <use xlink:href="{{ ibexa_icon_path('caret-next') }}"></use>
        </svg>
        <span class="ibexa-btn__label ibexa-btn__label--more">
            {{ expand_label }}
        </span>
        <span class="ibexa-btn__label ibexa-btn__label--less">
            {{ collapse_label }}
        </span>
    </button>
{% endmacro %}

{{ form_start(form, { attr: attr|merge(attr_form)}) }}
    <div class="ibexa-adaptive-filters__visible">
        <div class="ibexa-adaptive-filters__static-left">
            {% block static_left %}
                <div class="form-group">
                    <label class="ibexa-label"></label>
                    {% block static_left_input %}{% endblock %}
                </div>
            {% endblock %}
        </div>
        <div class="ibexa-adaptive-filters__items ibexa-adaptive-filters__items--empty ibexa-adaptive-items">
            {% if not no_collapsible_items|default(false) %}
                {% block collapsible_items %}
                    {% for item in collapsible_items %}
                        {% include '@ibexadesign/ui/component/adaptive_filters/adaptive_filters_item.html.twig' with {
                            content: item,
                        } %}
                    {% endfor %}
                {% endblock %}
            {% endif %}
            <div class="ibexa-adaptive-filters__actions ibexa-adaptive-items__item ibexa-adaptive-items__item--force-show">
                {% block actions %}
                    {% block action_submit %}
                        <button
                            type="submit"
                            class="btn ibexa-btn ibexa-btn--secondary ibexa-adaptive-filters__submit-btn"
                        >
                            {{ 'actions.apply_btn'|trans|desc('Apply') }}
                        </button>
                    {% endblock %}
                    {% block action_clear %}
                        <button
                            type="button"
                            class="btn ibexa-btn ibexa-btn--ghost ibexa-adaptive-filters__clear-btn"
                        >
                            <svg class="ibexa-icon ibexa-icon--small">
                                <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
                            </svg>
                            <span class="ibexa-btn__label">
                                {{ 'actions.clear_btn'|trans|desc('Clear filters') }}
                            </span>
                        </button>
                    {% endblock %}
                {% endblock %}
            </div>
            <div
                class="
                    ibexa-adaptive-filters__toggler-wrapper
                    ibexa-adaptive-filters__item--hidden
                    ibexa-adaptive-items__item
                    ibexa-adaptive-items__item--selector"
                >
                {{ _self.collapse_btn(attr_toggler_btn, toggler_btn_expand_label, toggler_btn_collapse_label) }}
                {{ _self.collapse_btn(attr_fake_expanded_toggler_btn, toggler_btn_expand_label, toggler_btn_collapse_label) }}
                {{ _self.collapse_btn(attr_fake_collapsed_toggler_btn, toggler_btn_expand_label, toggler_btn_collapse_label) }}
            </div>
        </div>
    </div>
    <div {{ html.attributes(attr_collapsible) }}>
        <div {{ html.attributes(attr_collapsible_content) }}></div>
    </div>
{{ form_end(form) }}
