{% set is_collapsed = is_collapsed|default(false) %}

<div class="ibexa-sidebar-filter accordion-item {{ is_collapsed ? 'collapsed'  }} {{ class|default('') }}">
    {% block sidebar_filter_header %}
        <div class="ibexa-sidebar-filter__header">
            <div class="ibexa-sidebar-filter__header-label">
                {% block sidebar_filter_label %}{% endblock %}
            </div>
            <input type="text" class="form-control ibexa-sidebar-filter__search-input ibexa-sidebar-filter__search-input--hidden ibexa-input ibexa-input--text ibexa-input--small">
            <div class="ibexa-sidebar-filter__header-actions">
                <button
                    type="button"
                    class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-btn--no-text ibexa-sidebar-filter__search-input-toggle"
                >
                    <svg class="ibexa-icon ibexa-icon--small">
                        <use xlink:href="{{ ibexa_icon_path('search') }}"></use>
                    </svg>
                </button>
                {% block sidebar_filter_actions %}{% endblock %}
                <button
                    type="button"
                    class="btn ibexa-btn ibexa-btn--small ibexa-btn--no-text accordion-button {{ is_collapsed ? 'collapsed' }}"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{ filter_id }}"
                ></button>
            </div>
        </div>
    {% endblock %}

    {% block sidebar_filter_body %}
        <div
            id="{{ filter_id }}"
            class="ibexa-sidebar-filter__body accordion-collapse {{ is_collapsed ? 'collapsed' : 'show'  }}"
        >
            {% block sidebar_filter_fields_before %}{% endblock %}
            {% block sidebar_filter_fields %}{% endblock %}
            {% block sidebar_filter_fields_after %}{% endblock %}
        </div>
    {% endblock %}

    {% block sidebar_filter_footer %}
        <div class="ibexa-sidebar-filter__footer"></div>
    {% endblock %}
</div>
