{% extends '@ibexadesign/ui/filter_field/base.html.twig' %}

{% set range_type = range_type|default('') %}
{% set range_step = range_step|default(1) %}
{% set range_start_value = start_value|default(range_min_value) %}
{% set range_end_value = end_value|default(range_max_value) %}

{% set wrapper_attr = {
    class: 'ibexa-sidebar-filter-range',
    'data-step': range_step,
    'data-min-value': range_min_value,
    'data-max-value': range_max_value,
} %}

{%- block sidebar_filter_label -%}{{ filter_label }}{%- endblock -%}

{%- block sidebar_filter_pre_body_content -%}
    <button
        type="button"
        class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-sidebar-filter__clear-all-btn"
    >
        {{ 'filter_field.select_all'|trans|desc('Clear all') }}
    </button>
{%- endblock -%}

{%- block sidebar_filter_body_content -%}
    <div class="ibexa-sidebar-filter-range__inputs-col">
        <div class="ibexa-sidebar-filter-range__slider-inputs">
            <div class="ibexa-sidebar-filter-range__slider ibexa-sidebar-filter-range__slider--range"></div>
            <div class="ibexa-sidebar-filter-range__slider ibexa-sidebar-filter-range__slider--seleted-range"></div>
            <input
                type="range"
                min="{{ range_min_value }}"
                max="{{ range_max_value }}"
                value="{{ range_start_value }}"
                class="ibexa-sidebar-filter-range__slider-input ibexa-sidebar-filter-range__slider-input--start"
            />
            <input
                type="range"
                min="{{ range_min_value }}"
                max="{{ range_max_value }}"
                value="{{ range_end_value }}"
                class="ibexa-sidebar-filter-range__slider-input ibexa-sidebar-filter-range__slider-input--end"
            />
        </div>
        <div class="ibexa-sidebar-filter-range__manual-inputs">
            <input
                type="number"
                min="{{ range_min_value }}"
                max="{{ range_max_value }}"
                value="{{ range_start_value }}"
                class="form-control ibexa-input ibexa-input--small ibexa-input--text ibexa-sidebar-filter-range__manual-input ibexa-sidebar-filter-range__manual-input--start"
            />
            <input
                type="number"
                min="{{ range_min_value }}"
                max="{{ range_max_value }}"
                value="{{ range_end_value }}"
                class="form-control ibexa-input ibexa-input--small ibexa-input--text ibexa-sidebar-filter-range__manual-input ibexa-sidebar-filter-range__manual-input--end"
            />
        </div>
    </div>

    {% if range_type %}
        <div class="ibexa-sidebar-filter-range__type-col">{{ range_type }}</div>
    {% endif %}
{%- endblock -%}
