{% extends '@ibexadesign/ui/filter_field/base.html.twig' %}

{% set items_short_list_limit = items_short_list_limit|default(5) %}
{% set is_list_expanded = is_list_expanded|default(false) %}
{% set show_toggle_list_button = choices|length > items_short_list_limit %}
{% set wrapper_attr = {
    class: 'ibexa-sidebar-filter-selection',
    'data-items-short-list-limit': items_short_list_limit,
} %}

{%- block sidebar_filter_label -%}{{ filter_label }}{%- endblock -%}

{%- block sidebar_filter_actions -%}
    <button
        type="button"
        class="btn ibexa-btn ibexa-btn--small ibexa-btn--no-text ibexa-btn--selector ibexa-sidebar-filter-selection__search-toggle-btn"
    >
        <svg class="ibexa-icon ibexa-icon--small">
            <use xlink:href="{{ ibexa_icon_path('search') }}"></use>
        </svg>
    </button>
{%- endblock -%}

{%- block sidebar_filter_pre_body_content -%}
    {% embed '@ibexadesign/ui/component/input_text.html.twig' with {
        has_search: true,
        search_button_type: 'button',
        wrapper_attr: {
            class: 'ibexa-sidebar-filter-selection__search-wrapper ibexa-sidebar-filter-selection__search-wrapper--hidden'
        }
    } %}
        {% block content %}
            <input
                type="text"
                class="ibexa-input ibexa-input--text ibexa-input--small form-control ibexa-sidebar-filter-selection__search-input"
                placeholder="{{ 'filter_field.search_placeholder'|trans|desc('Search filter') }}"
            />
        {% endblock %}
    {% endembed %}

    <button
        type="button"
        class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-sidebar-filter__pre-body-action-btn ibexa-sidebar-filter-selection__toggle-checks-state-btn"
    >
        {{ 'filter_field.select_all'|trans|desc('Select all') }}
    </button>
{%- endblock -%}

{%- block sidebar_filter_body_content -%}
    <ul class="ibexa-sidebar-filter-selection__list {% if show_toggle_list_button %}ibexa-sidebar-filter-selection__list--with-toggler{% endif %}">
        {% for index, choice in choices %}
            <li class="ibexa-sidebar-filter-selection__list-item {% if not is_list_expanded and index >= items_short_list_limit %}ibexa-sidebar-filter-selection__list-item--hidden{% endif %}">
                <input type="checkbox" class="ibexa-input ibexa-input--checkbox form-check-input"/>
                <span class="ibexa-sidebar-filter-selection__list-item-label">{{ choice.label }}</span>
            </li>
        {% endfor %}
    </ul>
{%- endblock -%}

{%- block sidebar_filter_post_body_content -%}
    {% if show_toggle_list_button %}
        <button
            type="button"
            class="
                btn
                ibexa-btn
                ibexa-btn--ghost
                ibexa-btn--small
                ibexa-sidebar-filter__post-body-action-btn
                ibexa-sidebar-filter-selection__list-toggle-btn
                {% if is_list_expanded %}ibexa-sidebar-filter-selection__list-toggle-btn--expanded-list{% endif %}
            "
        >
            {% if is_list_expanded %}
                {{ 'filter_field.less'|trans|desc('Less') }}
            {% else %}
                {{ 'filter_field.more'|trans|desc('More') }}
            {% endif %}
        </button>
    {% endif %}
{%- endblock -%}
