{% extends '@ibexadesign/ui/filter_field/base.html.twig' %}

{% set items_show_limit = items_show_limit|default(5) %}
{% set class = class|default('') ~ ' ibexa-sidebar-filter--selection' %}
{% set show_more_button = choices|length > items_show_limit %}

{%- block sidebar_filter_label -%}{{ filter_label }}{%- endblock -%}

{%- block sidebar_filter_fields_before -%}
    <button class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-sidebar-filter__btn ibexa-sidebar-filter__btn--fields-pre-action ibexa-sidebar-filter__toggle-all-select-btn">
        {{ 'filter_field.select_all'|trans|desc('Select all') }}
    </button>
{%- endblock -%}

{%- block sidebar_filter_fields -%}
    <ul class="ibexa-sidebar-filter__selection-list {% if show_more_button %}ibexa-sidebar-filter__selection-list-item--short{% endif %} ">
        {% for index, choice in choices %}
            <li class="ibexa-sidebar-filter__selection-list-item {% if index >= items_show_limit %}ibexa-sidebar-filter__selection-list-item--hidden{% endif %}">
                <input type="checkbox" class="ibexa-input ibexa-input--checkbox  form-check-input"/>
                <span class="ibexa-sidebar-filter__selection-list-item-label">{{ choice.label }}</span>
            </li>
        {% endfor %}
    </ul>
{%- endblock -%}

{%- block sidebar_filter_fields_after -%}
    {% if show_more_button %}
        <button
            type="button"
            data-items-show-limit="{{ items_show_limit }}"
            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-sidebar-filter__toggle-list-btn ibexa-sidebar-filter__btn ibexa-sidebar-filter__btn--fields-post-action"
        >
            {{ 'filter_field.more'|trans|desc('more') }}
        </button>
    {% endif %}
{%- endblock -%}