{% extends '@ibexadesign/ui/edit_base.html.twig' %}

{% form_theme form '@ibexadesign/ui/form_fields.html.twig'  %}

{% trans_default_domain 'ibexa_linkmanager' %}

{% block header %}
    {% set url_create_sidebar_right = knp_menu_get('ezplatform_admin_ui.menu.url_edit.sidebar_right', [], {
        save_and_close_selector: '#' ~ form.save_and_close.vars.id,
        save_selector: '#' ~ form.save.vars.id,
        url: url
    }) %}

    {% include '@ibexadesign/ui/edit_header.html.twig' with {
        action_name: 'url.editing'|trans|desc('Editing'),
        title: 'url.editing.title'|trans({'%url%': url.url|u.truncate(50) })|desc('Link %url%'),
        context_actions: knp_menu_render(url_create_sidebar_right, {
            'template': '@ibexadesign/ui/menu/context_menu.html.twig'
        })
    } %}
{% endblock %}

{%- block content -%}
    <div class="ibexa-edit-content__container">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <section>
                <div class="card ibexa-card ibexa-card--light">
                    <div class="card-body">
                        {{ form_row(form.url) }}
                    </div>
                </div>
            </section>
            {{ form_widget(form.save, { attr: { hidden: 'hidden' }}) }}
            {{ form_widget(form.save_and_close, { attr: { hidden: 'hidden' }}) }}
        {{ form_end(form) }}
    </div>
{%- endblock -%}
