<div class="ibexa-anchor-navigation-menu">
    <div class="ibexa-anchor-navigation-menu__header">
        {% if close_href is defined %}
            <a
                class="btn ibexa-btn ibexa-btn--ghost ibexa-anchor-navigation-menu__close"
                href="{{ close_href }}"
            >
                <svg class="ibexa-icon ibexa-icon--small">
                    <use xlink:href="{{ ibexa_icon_path('discard') }}"></use>
                </svg>
                <span class="ibexa-btn__label">
                    {{ 'anchor_navigation.close'|trans|desc('Close') }}
                </span>
            </a>
        {% endif %}
    </div>

    <div class="ibexa-anchor-navigation-menu__body">
        {% block navigation_menu_body %}
            {% if items|default([])|length > 1 %}
                <ul class="ibexa-anchor-navigation-menu__sections ibexa-anchor-navigation-menu__sections--active ibexa-anchor-navigation-menu__sections--no-border">
                    {% for item in items %}
                        {% set item_label = item is iterable ? item.label : item %}
                        {% set sanitized_item = item is iterable and item.target_id is defined ? item.target_id : item_label|slug %}

                        <li class="ibexa-anchor-navigation-menu__sections-item">
                            <button
                                type="button"
                                class="ibexa-anchor-navigation-menu__sections-item-btn {% if loop.first %}ibexa-anchor-navigation-menu__sections-item-btn--active{% endif %}"
                                data-target-id="#{{ sanitized_item }}"
                            >
                                <span class="ibexa-anchor-navigation-menu__sections-item-btn-label">{{ item_label }}</span>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
    </div>
</div>
