{% trans_default_domain 'ibexa_content_edit' %}

{% set content = content|default(null) %}
{% set show_extra_bottom_content = show_extra_bottom_content|default(false) %}
{% set is_user_content_type = content_type is defined and content_type.identifier in ibexa_admin_ui_config.userContentTypes %}
{% set empty_title_placeholder = 'content.title.empty_title_placeholder'|trans|desc('[Untitled]') %}

<div class="ibexa-edit-header {{ show_extra_bottom_content ? 'ibexa-edit-header--has-extra-content' }}">
    <div class="ibexa-edit-header__containers">
        <div class="ibexa-edit-header__container ibexa-edit-header__container--info-bar">
            <div class="ibexa-edit-header__info-bar">
                <div class="ibexa-edit-header__info-bar-action-type">
                    {% if icon_name is defined %}
                        <svg class="ibexa-icon ibexa-icon--small">
                            <use xlink:href="{{ ibexa_icon_path(icon_name|lower) }}"></use>
                        </svg>
                    {% endif %}

                    <div class="ibexa-label ibexa-label--small ibexa-edit-header__action-name">
                        {{ action_name|default('') }}
                        {{ action_object|default('') }}
                        {{ content_type_name|default('') }}
                    </div>
                </div>

                {% if show_autosave_status|default(false) %}
                    {% include '@ibexadesign/ui/autosave.html.twig' %}
                {% endif %}

                {% block after_action_name %}
                    {{ ibexa_render_component_group('content-form-edit-header-info-bar-extras', {}) }}
                {% endblock %}
            </div>
        </div>
        <div class="ibexa-edit-header__container ibexa-edit-header__container--context-actions">
            <div class="ibexa-edit-header__context-actions">
                {{ context_actions|default('')|raw }}
            </div>
        </div>
        <div class="ibexa-edit-header__container ibexa-edit-header__container--details">
            <div class="ibexa-edit-header__title-section">
                <h1 class="ibexa-edit-header__title">{{ title|default(empty_title_placeholder) }}</h1>
                <div class="ibexa-edit-header__after-title">
                    {% block after_title %}{% endblock %}
                </div>
            </div>

            {% if subtitle is defined %}
                <div class="ibexa-edit-header__subtitle">{{ subtitle }}</div>
            {% endif %}

            {% if content is defined and content is not null %}
                <div class="ibexa-edit-header__meta">
                    <div class="ibexa-edit-header__meta-item">
                         <svg class="ibexa-icon ibexa-icon--tiny-small">
                            <use xlink:href="{{ ibexa_icon_path('translate') }}"></use>
                        </svg>
                        {{ language.name }}
                    </div>
                    {% if creator is defined and creator is not empty %}
                        <div class="ibexa-edit-header__meta-item">
                            <svg class="ibexa-icon ibexa-icon--tiny-small">
								<use xlink:href="{{ ibexa_icon_path('author') }}"></use>
							</svg>
                            {{ 'content.meta.created_by'|trans({'%name%': ibexa_content_name(creator)})|desc('Created by %name%') }}
                        </div>
                    {% endif %}
                    <div class="ibexa-edit-header__meta-item">
                        <svg class="ibexa-icon ibexa-icon--tiny-small">
                            <use xlink:href="{{ ibexa_icon_path('date') }}"></use>
                        </svg>
                        {{ content.versionInfo.contentInfo.publishedDate|ibexa_full_datetime }}
                    </div>
                </div>
            {% endif %}

            {% if show_extra_bottom_content %}
                <div class="ibexa-edit-header__details-extra-content">
                    {{ block('extra_bottom_content') }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
