{% trans_default_domain 'ibexa_admin_ui' %}

{% set title = title ?? 'edit_translation.edit.title'|trans|desc('Edit') %}

{% if translations|length == 1 %}
    {% set language = translations|first %}
    <twig:ibexa:button
        type="tertiary-alt"
        icon="edit"
        icon_size="small-medium"
        class="mx-2 ids-button--content-edit"
        title="{{ title }}"
        data-content-id="{{ contentId }}"
        data-language-code="{{ language.languageCode }}"
    />
{% else %}
    {% set top_offset = top_offset is defined ? top_offset : 72 %}

    <div class="ibexa-translation-selector">
        <twig:ibexa:button
            type="tertiary-alt"
            icon="edit"
            icon_size="small-medium"
            class="mx-2 ids-button--translations-list-toggler"
            title="{{ title }}"
        />

        {% embed '@ibexadesign/ui/component/edit_content_translation_select.html.twig' with {
            title: 'edit_translation.languages.select_language_title'|trans|desc('Select translation'),
            has_search: translations|length >= 10,
            filter_placeholder: 'edit_translation.languages.filter.placeholder'|trans|desc('Search...'),
            filter_description: 'edit_translation.languages.filter.description'|trans|desc('Languages'),
            data_attr: {
                'data-top-offset': top_offset
            },
        } %}
            {% block content_items %}
                <div class="ibexa-instant-filter__items">
                    {% for language in translations %}
                        <div class="ibexa-instant-filter__group-item">
                            <twig:ibexa:button
                                type="tertiary-alt"
                                class="ids-button--content-edit ids-button--select-language"
                                data-with-confirm="true"
                                data-content-id="{{ contentId }}"
                                data-language-code="{{ language.languageCode }}"
                            >
                                {{ language.name }}
                            </twig:ibexa:button>
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}

            {% block footer_items %}
                {% trans_default_domain 'ibexa_admin_ui' %}

                <twig:ibexa:button
                    type="primary"
                    html_type="submit"
                    class="ibexa-extra-actions__confirm-btn ids-button--content-edit"
                    :disabled="true"
                >
                    {{ 'edit_translation.languages.edit'|trans|desc('Edit') }}
                </twig:ibexa:button>
                <twig:ibexa:button
                    type="secondary"
                    class="ibexa-extra-actions__close-btn"
                >
                    {{ 'edit_translation.languages.discard'|trans|desc('Discard') }}
                </twig:ibexa:button>
            {% endblock %}  
        {% endembed %}
    </div>
{% endif %}
