{% extends "@ibexadesign/ui/layout.html.twig" %}

{% from '@ibexadesign/ui/component/macros.html.twig' import results_headline %}

{% trans_default_domain 'ibexa_drafts' %}

{% form_theme form_remove '@ibexadesign/ui/form_fields.html.twig' %}

{% import _self as macros %}

{% block title %}{{ 'drafts.list'|trans|desc('Drafts') }} - {{ parent() }}{% endblock %}

{% block body_class %}ibexa-drafts-list-view{% endblock %}

{% block header %}
    {% include '@ibexadesign/ui/page_title.html.twig' with {
        title: 'drafts.list'|trans|desc('Drafts'),
    } %}
{% endblock %}

{% block content %}
    <div class="align-items-stretch ibexa-main-row">
        <section class="container ibexa-container">
            {% set body_rows = [] %}
            {% for row in pager.currentPageResults %}
                {% set body_row_cols = [] %}
                {% if row.isAccessible %}
                    {% set content_draft_edit_url = content_is_user|default(false) ? 'ibexa.user.update' : 'ibexa.content.draft.edit' %}

                    {% set col_raw %}
                        {{ form_widget(form_remove.versions[row.versionId ~ '']) }}
                    {% endset %}
                    {% set body_row_cols = body_row_cols|merge([{
                        has_checkbox: true,
                        content: col_raw,
                        raw: true,
                    }]) %}

                    {% set col_raw %}
                        <svg class="ibexa-icon ibexa-icon--small">
                            <use xlink:href="{{ ibexa_content_type_icon(row.contentType.identifier) }}"></use>
                        </svg>
                    {% endset %}
                    {% set body_row_cols = body_row_cols|merge([{
                        has_checkbox: true,
                        content: col_raw,
                        raw: true,
                    }]) %}

                    {% set col_raw %}
                        <span title="{{ row.versionInfo.name }}">
                            {{ row.versionInfo.name }}
                        </span>
                    {% endset %}
                    {% set body_row_cols = body_row_cols|merge([{
                        content: col_raw,
                        raw: true,
                    }]) %}

                    {% set body_row_cols = body_row_cols|merge([
                        { content: row.contentType.name },
                        { content: ibexa_admin_ui_config.languages.mappings[row.versionInfo.initialLanguageCode].name },
                        { content: row.versionInfo.versionNo },
                        { content: row.versionInfo.modificationDate|ibexa_full_datetime },
                    ]) %}

                    {% set col_raw %}
                        <button
                            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text mx-2 ibexa-btn--content-draft-edit"
                            title="{{ 'drafts.list.action.edit'|trans|desc('Edit') }}"
                            data-content-id="{{ row.versionInfo.contentInfo.id }}"
                            data-language-code="{{ row.versionInfo.initialLanguageCode }}"
                            data-content-draft-edit-url="{{ path(content_draft_edit_url, {
                                'contentId': row.versionInfo.contentInfo.id,
                                'versionNo': row.versionInfo.versionNo,
                                'language': row.versionInfo.initialLanguageCode
                            }) }}"
                            data-version-has-conflict-url="{{ path('ibexa.version.has_no_conflict', {
                                'contentId': row.versionInfo.contentInfo.id,
                                'versionNo': row.versionInfo.versionNo,
                                'languageCode': row.versionInfo.initialLanguageCode
                            }) }}"
                        >
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                                <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                            </svg>
                        </button>
                    {% endset %}
                    {% set body_row_cols = body_row_cols|merge([{
                        has_action_btns: true,
                        content: col_raw,
                        raw: true,
                    }]) %}

                    {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
                {% else %}
                    {% set body_row_cols = body_row_cols|merge([{
                        attr: { colspan: 8 },
                        content: 'dashboard.table.draft.unauthorized'|trans({
                                '%module%': row.unauthorizedContentDraft.module,
                                '%function%': row.unauthorizedContentDraft.function,
                                '%contentId%': row.unauthorizedContentDraft.payload.contentId,
                            })|desc('You do not have permissions for \'%function%\' \'%module%\' for content ID: %contentId%'),
                    }]) %}

                    {% set body_rows = body_rows|merge([{
                        cols: body_row_cols,
                    }]) %}
                {% endif %}
            {% endfor %}

            {{ form_start(form_remove, {
                'action': path('ibexa.content_draft.remove'),
                'attr': {
                    'class': 'ibexa-toggle-btn-state',
                    'data-toggle-button-id': '#confirm-' ~ form_remove.remove.vars.id
                }
            }) }}
            {% include '@ibexadesign/ui/component/table/table.html.twig' with {
                headline: custom_results_headline ?? results_headline(pager.getNbResults()),
                head_cols: [
                    { has_checkbox: true },
                    { has_icon: true },
                    { content: 'drafts.list.name'|trans|desc('Name') },
                    { content: 'drafts.list.content_type'|trans|desc('Content Type') },
                    { content: 'drafts.list.modified_language'|trans|desc('Modified Language') },
                    { content: 'drafts.list.version'|trans|desc('Version') },
                    { content: 'drafts.list.last_saved'|trans|desc('Modified') },
                    { },
                ],
                body_rows,
                actions: macros.table_header_tools(form_remove),
                empty_table_info_text: 'drafts.list.empty'|trans|desc('You have no drafts yet. Your drafts will show up here.'),
            } %}
            {% if pager.haveToPaginate %}
                {% include '@ibexadesign/ui/pagination.html.twig' with {
                    'pager': pager,
                } %}
            {% endif %}
            {{ form_widget(form_remove.remove, {
                'attr': {
                    'hidden': true
                }
            }) }}
            {{ form_end(form_remove) }}
        </section>
    </div>

    {% include '@ibexadesign/content/modal/version_conflict.html.twig' %}
{% endblock %}

{% block react_modules %}
    {{ encore_entry_script_tags('ibexa-admin-ui-content-tree-js', null, 'ibexa') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ibexa-admin-ui-content-draft-list-js', null, 'ibexa') }}
{% endblock %}

{% macro table_header_tools(form) %}
    {% set modal_data_target = 'modal-' ~ form.remove.vars.id %}

    <button
        id="confirm-{{ form.remove.vars.id }}"
        type="button"
        class="btn ibexa-btn ibexa-btn--ghost"
        disabled
        data-bs-toggle="modal"
        data-bs-target="#{{ modal_data_target }}"
    >
        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
            <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
        </svg>
        <span class="ibexa-btn__label">
            {{ 'drafts.list.action.remove.confirmation.title'|trans|desc('Delete') }}
        </span>
    </button>

    {% include '@ibexadesign/ui/modal/bulk_delete_confirmation.html.twig' with {
        'id': modal_data_target,
        'message': 'drafts.list.action.remove.confirmation.text'|trans|desc('Are you sure you want to permanently delete the selected draft(s)?'),
        'data_click': '#' ~ form.remove.vars.id,
    } %}
{% endmacro %}
